<nav id="mainnav">
	<div class="container">
		<div class="row">
			<div class="span4">
				{{#if metadata.theme.config.images.navLogo}}
				{{#if metadata.theme.config.footer.contactWebsite}}
				<a class="logo" href="{{ metadata.theme.config.footer.contactWebsite }}" target="_blank"></a>
				{{else}}
				<a class="logo"></a>
				{{/if}}
				{{/if}}
			</div>
			<div class="span8">
				{{yield}}
			</div>
		</div>
	</div>
</nav>
