<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<style type="text/css">
${css}
			.markdown-body {
				min-width: 200px;
				max-width: 790px;
				margin: 0 auto;
				padding: 40px 30px;
				font-size: 14px;
				overflow: visible;
			}
			.markdown-body ul ol {
				list-style-type: decimal;
			}
		</style>
	</head>
	<body class="markdown-body">${body}</body>
</html>
