<html lang="en">
<head>
	{{ partial 'head' title=metadata.theme.config.browser.title }}
</head>
<body>
	<div class="wrapper">
		{{ partial 'navbar' }}
		<section class="page">
			<div class="container">
				<div class="row">
					<form class="form-signin" role="form" action={{ loginUrl @root }} method="POST" autocomplete="off" style="text-align: center;">
						<h2 class="form-signin-heading">Sign in</h2>
						<div><input type="text" name="username" class="form-control" placeholder="Username" required autofocus></div>
						<div><input type="password" name="password" class="form-control" placeholder="Password" required></div>
						<div><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button></div>
					</form>
				</div>
			</div>
		</section>
		<footer>
		{{ partial 'banner' }}
		</footer>
	</div>
</body>
</html>
