<html lang="en">
<head>
	{{> head }}
</head>
<body>
	<div class="wrapper">
		{{ partial 'navbar' }}
		<section class="pages">
			<div class="page">
				<div class="container">
					<div class="row">
						{{ partial 'login-form' }}
					</div>
				</div>
			</div>
		</section>
		<footer>
		{{> banner }}
		</footer>
	</div>
</body>
</html>
