files:
    "/etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            find /var/log/containers/router/healthd -type f | grep -v application.log.`date -u +"%Y-%m-%d-%H"` | xargs rm -f
    "/home/ec2-user/setup-healthd-appstat.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            set -e
            mkdir -p /var/log/containers/router/healthd
            chmod 777 /var/log/containers/router/healthd
            if [ -d "/etc/healthd" ]
            then
                if [ -s "/etc/healthd/config.yaml" ]; then
                    sed -i '/^appstat_log_path:/d' /etc/healthd/config.yaml
                    sed -i '/^appstat_unit:/d' /etc/healthd/config.yaml
                    sed -i '/^appstat_timestamp_on:/d' /etc/healthd/config.yaml
                fi
                echo "appstat_log_path: /var/log/containers/router/healthd/application.log" >> /etc/healthd/config.yaml
                echo "appstat_unit: sec" >> /etc/healthd/config.yaml
                echo "appstat_timestamp_on: completion" >> /etc/healthd/config.yaml
                initctl start healthd || initctl restart healthd
            fi
container_commands:
    01-healthd-configure:
        command: /home/ec2-user/setup-healthd-appstat.sh

