packages:
  yum:
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
container_commands:
  "01":
    command: sudo usermod -a -G docker newrelic
  "02":
    command: /usr/sbin/nrsysmond-config --set license_key=$NEW_RELIC_LICENSE_KEY
  "02":
    command: /etc/init.d/newrelic-sysmond start
