files:
  "/opt/elasticbeanstalk/npm.vars" :
    mode: "000775"
    owner: root
    group: users
    content: |
      export NPM_CONFIG_LOGLEVEL=error
      export NODE_PATH=`ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin
      export PATH=$PATH:$NODE_PATH
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/npm.vars
      function error_exit
      {
        eventHelper.py --msg "$1" --severity ERROR
        exit $2
      }
      if [ ! -d "/var/node_modules" ]; then
        mkdir /var/node_modules
      fi
      if [ -d /tmp/deployment/application ]; then
        ln -s /var/node_modules /tmp/deployment/application/
      fi
      OUT=$([ -d "/tmp/deployment/application" ] && cd /tmp/deployment/application && npm install 2>&1) || error_exit "npm install failed: $OUT" $?
      echo $OUT
