<div class="row">
	<div class="col-sm-12 col-lg-offset-1 col-lg-11">
		<h2>Add a user</h2>
		<p class="lead">Use the fields below to create a new admin user for this organization.</p>
		<hr/>
		<form class="form-horizontal" role="form" action="{{ session.urls.organizationUsers }}" method="POST" autocomplete="off">
			<input type="hidden" name="_method" value="POST"/>
			<fieldset>
				<div class="form-group">
					<label for="input-user-name" class="col-sm-3 col-lg-2 control-label">Name</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" class="form-control" id="input-user-name"
							name="name"
							title="This is used to identify the user in the Shunt admin area and in any email communication"
							placeholder="Full name"
							data-validate="notEmpty"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="input-user-email" class="col-sm-3 col-lg-2 control-label">Email</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" class="form-control" id="input-user-email"
						 	name="email"
							title="This is used as the user’s login to the Shunt admin area and the address for any email communication"
							placeholder="Email address"
							data-validate="email"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="input-user-password" class="col-sm-3 col-lg-2 control-label">Password</label>
					<div class="col-sm-6 col-lg-4">
						<input type="password" class="form-control" id="input-user-password"
							name="password"
							title="This is the user’s password to log into the Shunt admin area"
							placeholder="Password"
							data-validate="notEmpty"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-success">Create user</button>
						<a href="{{ session.urls.organizationUsers }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to organization users</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>