<html lang="en">
	<head>
		{{> head }}
	</head>
	<body>
		{{ partial 'sidebar' }}
		<div class="page clearfix">
			{{ partial 'login-form' }}
			<footer class="footer">
				{{> contact }}
				{{> banner }}
			</footer>
		</div>
		{{#if metadata.analytics.google}}
		{{ partial 'google-analytics' id=metadata.analytics.google }}
		{{/if}}
	</body>
</html>
