<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Shunt</title>
			<link rel="stylesheet" href="/assets/css/app.min.css"/>
			<link rel="stylesheet" href="/assets/css/shunt-www.css"/>
		</head>
		<body class="home">
			<h1 class="text-center">Shunt</h1>
			<h2 class="text-center">The easiest way to showcase your files.</h2>
			<div class="text-center">
				<form class="form-inline" action="//shunt.us10.list-manage.com/subscribe/post?u=8065dfdfb971530150a54c4b9&amp;id=89ad53389f" method="post" target="_blank" novalidate>
					<div class="form-group">
						<div class="input-group mb15">
							<input type="email" class="signup-field form-control br0" value="" name="EMAIL" id="email" placeholder="Email address"/>
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button">Get updates</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</body>
	</html>
</div>
