<div class="filecanvas-dropzone">
	<svg class="filecanvas-dropzone-border" xmlns="http://www.w3.org/2000/svg" width="192" height="192" viewBox="0 0 256 256">
		<path class="filecanvas-dropzone-border-stroke" fill-rule="evenodd" d="M14 43H0v-9.005C0 15.22 15.224 0 33.995 0H43v14h-9.005C22.955 14 14 22.953 14 33.995V43zm99-29V0H73v14h40zm70 0V0h-40v14h40zm59 29h14v-9.005C256 15.225 240.78 0 222.005 0H213v14h9.005C233.047 14 242 22.954 242 33.995V43zm0 70h14V73h-14v40zm0 70h14v-40h-14v40zm-29 59v14h9.005c18.77 0 33.995-15.22 33.995-33.995V213h-14v9.005c0 11.042-8.954 19.995-19.995 19.995H213zm-70 0v14h40v-14h-40zm-70 0v14h40v-14H73zm-59-29H0v9.005C0 240.775 15.22 256 33.995 256H43v-14h-9.005C22.953 242 14 233.046 14 222.005V213zm0-70H0v40h14v-40zm0-70H0v40h14V73z"/>
	</svg>
	<div class="filecanvas-dropzone-icon">
		<span class="filecanvas-dropzone-icon-idle fa fa-file"></span>
		<span class="filecanvas-dropzone-icon-dragging fa fa-plus"></span>
	</div>
	<div class="filecanvas-dropzone-label">
		<div class="filecanvas-dropzone-label-desktop">Drag files here to add them to your canvas</div>
		<div class="filecanvas-dropzone-label-mobile">Uploaded files will be shown here</div>
	</div>
</div>
