{{#>index}}
	{{#*inline 'content'}}
		<div class="form-centered login-panel mb25">
			<h1 class="text-center mb0 pl0 pr0 pb0" style="color: #e3e5e8;">Welcome to <strong>Shunt.</strong></h1>
			<h4 class="text-center mt5 mb25">The easiest way to showcase your files</h4>
			{{>login-form loginUrl=session.urls.login adapters=content.adapters buttonColor='white'}}
		</div>
	{{/inline}}
{{/index}}
