<div class="form-centered center-block mb25">
	<h1 class="text-center mb0 pl0 pr0 pb0" style="color: #e3e5e8;">Welcome to <strong>Shunt.</strong></h1>
	<h4 class="text-center mt5 mb25">The easiest way to showcase your files</h4>
	{{#if content.adapters.dropbox}}
	<form method="POST" action="{{ session.urls.login }}/dropbox">
		<button type="submit" class="btn btn-reset widget bg-white mb5">
			<i class="widget-icon bg-success pull-left fa fa-lock"></i>
			<h4>Sign in using Dropbox</h4>
		</button>
	</form>
	{{/if}}
	{{#if content.adapters.local}}
	<button type="button" class="btn btn-reset widget bg-white mb5" data-toggle="collapse" data-target="#login" aria-expanded="false" aria-controls="login">
		<i class="widget-icon bg-primary pull-left fa fa-user"></i>
		<h4>Admin login</h4>
	</button>
	<div class="widget bg-primary mb0">
		<i class="widget-icon bg-white pull-left fa fa-user"></i>
		<h4>Admin login</h4>
	</div>
	<div id="login" class="collapse">
		<div class="panel-body bg-white mb5">
			<div class="col-sm-12">
				<form class="form-horizontal" method="POST" action="{{ session.urls.login }}/local">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="form-group">
								<input type="text" class="form-control"
									name="username"
									placeholder="Username"
									data-validate="notEmpty"
									data-trigger="focus"
								/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="form-group">
								<input type="password" class="form-control"
									name="password"
									placeholder=""
									data-validate="notEmpty"
									data-trigger="focus"
								/>
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-primary mb10">Log in</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{/if}}
</div>
