<div class="form-signin">
	<h2 class="form-signin-heading">Sign in to Shunt</h2>
	<!--
	<label class="checkbox">
		<input type="checkbox" value="remember-me"> Remember me
	</label>
	-->
	<a class="btn btn-lg btn-primary btn-block" href="{{ session.urls.loginAuth }}">Sign in using Dropbox</a>
	<a class="btn btn-lg btn-primary btn-block" href="{{ session.urls.registerAuth }}">Create an account</a>
</form>
