<div class="form-centered center-block mb25">
	<h1 class="text-center mb0 pl0 pr0 pb0" style="color: #e3e5e8;">Welcome to <strong>Shunt.</strong></h1>
	<h4 class="text-center mt5 mb25">The easiest way to showcase your files</h4>
	<form method="POST" action="{{ session.urls.login }}/dropbox">
		<button type="submit" class="btn btn-reset widget bg-white mb5">
			<i class="widget-icon bg-success pull-left fa fa-lock"></i>
			<h4>Sign in using Dropbox</h4>
		</button>
	</form>
</div>
