<div class="form-centered center-block mb25">
	<h4 class="text-center mt5 mb25">Logging out…</h4>
	<iframe class="logout" src="https://www.dropbox.com/logout" frameborder="0" data-logout></iframe>
</div>
