<h1 class="page-header">Support</h1>
<p class="lead">Use the form below to contact us, and we’ll get back to you as soon as possible.</p>
<p class="lead">For common problems, try our <a href="/faq">FAQ</a> page.</p>
