<h1 class="page-header">Support</h1>
<p class="lead">If you're having trouble with something, email us at <a href="mailto:info@shunt.io">info@shunt.io</a> and we’ll get back to you as soon as possible.</p>
<p class="lead">For common problems, try our <a href="/faq">FAQ</a> page.</p>
