{{#>index title='Support' navigation=true footer=true}}
	{{#*inline 'navbar'}}
		{{#>breadcrumb}}
		{{>breadcrumb-item link=session.urls.support icon='question-circle' label='Support'}}
		{{/breadcrumb}}
	{{/inline}}
	{{#*inline 'content'}}
		<div class="row">
			<div class="col-md-12 col-lg-10">
				<div class="panel mb25">
					<div class="panel-heading border">
						<h4 class="no-margin text-uppercase">Support</h4>
					</div>
					<div class="panel-body">
						<div class="row no-margin">
							<div class="col-lg-12">
								<p>If you're having trouble with something, email us at <a href="mailto:info@shunt.io">info@shunt.io</a> and we’ll get back to you as soon as possible.</p>
								<p>For common problems, try our <a href="/faq">FAQ</a> page.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/inline}}
{{/index}}
