.clearfix::before,
.clearfix::after {
	display: table;
	content: " ";
}
.clearfix::after {
	clear: both;
}

.sidebar {
}
.sidebar-header {
	margin: 3em 1em 2em;
}
.sidebar-header-logo {
	display: block;
	text-align: center;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
}
.sidebar-header-logo-image {
	width: auto;
	height: auto;
	max-width: 100%;
}
.sidebar-header-title {
	text-align: center;
}
.sidebar-header-subtitle {
	text-align: center;
}
.sidebar-menu {
}
.sidebar-menu-link {
	display: none;
}
.sidebar-content {
}
.sidebar-footer {
	display: none;
}

.footer {
	clear: both;
	text-align: center;
	padding-bottom: 10px;
}

.contact {
	padding: 15px 25px;
}
.contact-detail {
	padding: 5px 0;
}
.contact-social {
	margin: 10px -5px 0;
}
.contact-social-link {
	display: inline-block;
	line-height: 20px;
	padding: 5px;
}
.contact-social-link svg {
	vertical-align: top;
}
.contact-website a,
.contact-email a,
a.contact-social-link {
	text-decoration: none;
}

.banner {
	margin: 0;
	padding: 1em;
}

.items {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 15px 0 0 15px;
}
.item-divider {
	clear: both;
	text-align: center;
}
.item-divider h3 {
	margin: 0;
	padding: 40px 15px 15px 0;
}
.item-divider:first-child h3 {
	padding-top: 10px;
}
@media screen and (min-width: 768px) {
	.item-divider {
		text-align: left;
	}
	.item-divider h3 {
		padding: 60px 10px 10px;
	}
	.item-divider:first-child h3 {
		padding-top: 35px;
	}
}
.item {
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.item,
.item-link {
	padding: 0 15px 15px 0;
}
.items.no-gutter,
.items.no-gutter .item,
.items.no-gutter .item-link {
	padding: 0;
}
.item.hidden {
	display: none;
}
.item::before {
	content: '';
	display: block;
	width: 100%;
	padding-top: 75%;
}
.item-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: default;
}
.item-preview {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
}
.item-preview-thumbnail {
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.item-preview-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ddd;
}
.item-preview-icon .file-icon {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 35px;
	margin: auto;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.item-link:hover .item-preview-icon .file-icon {
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
.item-link .item-preview-rollover {
	visibility: hidden;
	opacity: 0;
}
.item-link .item-preview-icon + .item-preview-rollover + .item-preview-title {
	visibility: visible;
	opacity: 0.8;
}
.item-link:hover .item-preview-icon + .item-preview-rollover + .item-preview-title {
	opacity: 1;
}

.item-link .item-preview-thumbnail,
.item-link .item-preview-icon {
	opacity: 1;
}
.item-link .item-preview-rollover,
.item-link .item-preview-thumbnail,
.item-link .item-preview-icon,
.item-link .item-preview-title {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.item-link:hover .item-preview-rollover {
	visibility: visible;
	opacity: 1;
}
.items.no-gutter .item-link .item-preview-title {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}
.items.no-gutter .item-link:hover .item-preview-title {
	visibility: visible;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.items.no-gutter .item-link .item-preview-icon + .item-preview-rollover + .item-preview-title {
	visibility: visible;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.item-link:hover .item-preview-thumbnail {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.item-link:hover .item-preview-icon {
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
}
.item-preview:hover img {
	opacity: 1;
	-ms-filter:;
	filter:;
}
.item-preview-rollover {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 40px;
	margin-top: -30px;
	text-align: center;
}
.items.no-gutter .item-preview-rollover {
	margin-top: -20px;
}
.item-preview-rollover-button {
    display: inline-block;
	line-height: 40px;
	padding: 0 20px;
	cursor: pointer;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
}
.item-preview-rollover-button:hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.item-preview-title {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
}

.file-icon {
}
.file-icon-page {
	fill: white;
}
.file-icon-content {
	fill: #999;
}
.file-icon-footer {
	fill: white;
}
.file-icon-text {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	fill: #666;
}

@media screen and (min-width: 480px) {
	.item {
		width: 50%;
	}
	.item:first-child:last-child {
		margin-left: 25%;
	}
}

@media screen and (min-width: 720px) {
	.item {
		width: 33.333333%;
	}
	.item:first-child:last-child {
		margin-left: 33.333333%;
	}
}

@media screen and (min-width: 768px) {
	body {
		min-height: 480px;
		background-color: #f0f0f0 !important;
	}
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		width: 260px;
		height: 100%;
		overflow: auto;
	}
	.sidebar-header {
		margin: 0;
	}
	.sidebar-header-logo {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
		margin-top: 40px;
	}
	.sidebar-header-logo.logo-centered {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.sidebar-menu-link {
		display: block;
		text-decoration: none;
	}
	.sidebar-content {
		position: relative;
		height: 100%;
		min-height: 480px;
		padding: 25px;
	}
	.sidebar-header-title {
		text-align: left;
	}
	.sidebar-header-subtitle {
		text-align: left;
	}
	.sidebar-footer {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.sidebar-menu {
		margin-top: 30px;
	}
	.sidebar-menu-link {
		padding: 10px 0;
	}
	.page {
		position: relative;
		min-height: 100%;
		margin-left: 260px;
		padding-bottom: 5em;
	}
	.items {
		padding: 7px 0 0 7px;
		margin: 0 -3px -3px 0;
	}
	.item,
	.item-link {
		padding: 0 10px 10px 0;
	}
	.item:first-child:last-child {
		margin-left: 0;
	}
	.items.no-gutter,
	.items.no-gutter .item-link {
		padding: 0;
	}
	.footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0;
	}
	.footer .contact {
		display: none;
	}
	.footer .banner {
		padding: 2em 1em;
		line-height: 1em;
		background-color: #f0f0f0;
		color: #666666;
	}
	.footer .banner a,
	.footer .banner a:link,
	.footer .banner a:visited {
		color: #666666;
		text-decoration: underline;
	}
	.footer .banner a:hover,
	.footer .banner a:focus,
	.footer .banner a:active {
		color: #333333;
	}
	.login-form {
		margin-top: 90px;
	}
	.login-form h2 {
		font-size: 2em;
		color: #555555;
	}
}
@media screen and (min-width: 1200px) {
	.sidebar {
		width: 300px;
	}
	.page {
		margin-left: 300px;
	}
}
@media screen and (min-width: 768px) { .item { width: 50%; } }
@media screen and (min-width: 1024px) { .item { width: 33.333333%; } }
@media screen and (min-width: 1340px) { .item { width: 25%; } }
@media screen and (min-width: 1600px) { .item { width: 20%; } }
@media screen and (min-width: 1860px) { .item { width: 16.666666%; } }
@media screen and (min-width: 2120px) { .item { width: 14.285714%; } }
@media screen and (min-width: 2380px) { .item { width: 12.5%; } }
@media screen and (min-width: 2640px) { .item { width: 11.111111%; } }
@media screen and (min-width: 2900px) { .item { width: 10%; } }
@media screen and (min-width: 3160px) { .item { width: 9.090909%; } }
@media screen and (min-width: 3420px) { .item { width: 8.333333%; } }
@media screen and (min-width: 3680px) { .item { width: 7.692307%; } }
@media screen and (min-width: 3940px) { .item { width: 7.142857%; } }
@media screen and (min-width: 4200px) { .item { width: 6.666666%; } }
@media screen and (min-width: 4460px) { .item { width: 6.25%; } }

.item-dropzone {
	margin: -15px 0 0 -15px;
}
.filecanvas-dropzone {
	background-color: #f0f0f0;
	padding: 40px 10px;
}
@media screen and (min-width: 768px) {
	.item-dropzone {
		margin: -7px 3px 3px -7px;
		padding: 60px 10px;
	}
	.filecanvas-dropzone {
		padding: 0;
	}
}
