{{#> index}}
	{{#*inline 'content'}}
		<form class="editor" role="form" method="GET" action="{{ session.urls.createSite }}" autocomplete="off" data-editor-form>
			<input type="hidden" name="theme.id" value="{{ content.site.theme.id }}"/>
			<div class="title-bar">
				<div class="title-bar-header">
					<div class="title-bar-header-title">
						<div class="brand">
							<h3 class="brand-logo"><a href="/">Shunt</a></h3>
						</div>
					</div>
					<h3 class="title-bar-header-subtitle">Theme editor</h3>
				</div>
				<div class="title-bar-controls">
					<button type="reset" class="btn btn-default">Reset changes</button>
					<button type="submit" class="btn btn-success bold">Next: Add files</button>
				</div>
				<div class="title-bar-toolbar pull-right">
					<button type="button" class="btn btn-toolbar" disabled="disabled" data-editor-undo><i class="fa fa-undo mr5"></i> Undo</button>
					<button type="button" class="btn btn-toolbar" disabled="disabled" data-editor-redo><i class="fa fa-repeat mr5"></i> Redo</button>
				</div>
			</div>
			{{> editor}}
		</form>
	{{/inline}}
{{/index}}
