{
	"subject": "Hello {{{ user }}}!",
	"body": {
		"text/html": "<p>Hello {{ user }}</p><img src=\"cid:1px\"></img>",
		"text/plain": "Hello user"
	},
	"attachments": [
		{
			"cid": "1px"
			"filename": "1px.gif",
			"path": "attachments/1px.gif"
		}
	]
}
