fieldset {
	margin-bottom: 40px;
}

legend {
	padding-bottom: 4px;
}

.main {
	margin-top: 70px;
}

.users-table {
	margin-bottom: 0;
}

.dropkick-sync-idle { }
.dropkick-sync-loading { display: none; }
.dropkick-sync-success { display: none; }
.dropkick-sync-error { display: none; }

.-dropkick-sync-loading .dropkick-sync-idle { display: none; }
.-dropkick-sync-loading .dropkick-sync-loading { display: inline; }
.-dropkick-sync-loading .dropkick-sync-success { display: none; }
.-dropkick-sync-loading .dropkick-sync-error { display: none; }

.-dropkick-sync-success .dropkick-sync-idle { display: none; }
.-dropkick-sync-success .dropkick-sync-loading { display: none; }
.-dropkick-sync-success .dropkick-sync-success { display: inline }
.-dropkick-sync-success .dropkick-sync-error { display: none; }

.-dropkick-sync-error .dropkick-sync-idle { display: none; }
.-dropkick-sync-error .dropkick-sync-loading { display: none; }
.-dropkick-sync-error .dropkick-sync-success { display: none; }
.-dropkick-sync-error .dropkick-sync-error { display: inline }
