body {
	background-color: #f0f0f0;
	min-width: 320px;
	-moz-osx-font-smoothing: grayscale;
}

body.navigation-hidden,
body.navigation-hidden .app,
body.navigation-hidden .main-panel {
	background-color: #495469;
}

body.overlay,
body.overlay .app,
body.overlay .main-panel {
	background-color: white;
}
body.navigation-hidden button.bg-white {
	background-color: #e3e5e8;
}
body.navigation-hidden button.bg-white:hover:not(:disabled) {
	background-color: white;
}
body.navigation-hidden .title-bar,
body.navigation-hidden .content-footer {
	background-color: rgba(0, 0, 0, 0.2);
}
body.navigation-hidden footer.content-footer nav ul li a {
	color: #b2b6be;
	opacity: 0.5;
}
body.navigation-hidden footer.content-footer nav ul li a:link:hover {
	opacity: 0.75;
}

body.full-page .app,
body.full-page .main-panel,
body.full-page .main-content {
	height: 100%;
}
body.full-page .main-content {
	margin: 0;
	padding: 0;
}
body.no-footer .main-content {
    margin-bottom: 0;
}

html.overlay {
	width: 1px;
	min-width: 100%;
	height: auto;
}
html.overlay body {
	min-width: 0;
	height: auto;
}
html.overlay .app {
	min-height: auto;
}

html.no-padding .main-content {
    padding: 0;
}

.col-centered {
	display: block;
    margin-right: auto;
    margin-left: auto;
	float: none;
}

iframe {
	display: block;
}

a:not(:link) {
	cursor: default;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: underline;
}

a.btn,
a.btn:active,
a.btn:focus,
a.btn:hover,
a.btn:visited,
a.widget,
a.widget:active,
a.widget:focus,
a.widget:hover,
a.widget:visited,
.nav a,
.nav a:active,
.nav a:focus,
.nav a:hover,
.nav a:visited,
.breadcrumb a,
.breadcrumb a:active,
.breadcrumb a:focus,
.breadcrumb a:hover,
.breadcrumb a:visited,
.content-footer a,
.content-footer a:active,
.content-footer a:focus,
.content-footer a:hover,
.content-footer a:visited {
	text-decoration: none;
}

.btn.widget {
	border: none;
	border-radius: 0;
}

.form-control.input-sm { font-size: 12px; }
.form-control.input-lg { font-size: 18px; }

.btn-reset {
	display: block;
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	border-radius: 0;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: inherit;
	background: transparent;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.btn-block {
	display: block;
	text-align: left;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
@media (min-width: 480px) and (max-width: 767px) {
	body.overlay .col-sm-1,
	body.overlay .col-sm-2,
	body.overlay .col-sm-3,
	body.overlay .col-sm-4,
	body.overlay .col-sm-5,
	body.overlay .col-sm-6,
	body.overlay .col-sm-7,
	body.overlay .col-sm-8,
	body.overlay .col-sm-9,
	body.overlay .col-sm-10,
	body.overlay .col-sm-11,
	body.overlay .col-sm-12 {
		float: left;
	}
	body.overlay .col-sm-12 { width: 100%; }
	body.overlay .col-sm-11 { width: 91.66666667%; }
	body.overlay .col-sm-10 { width: 83.33333333%; }
	body.overlay .col-sm-9 { width: 75%; }
	body.overlay .col-sm-8 { width: 66.66666667%; }
	body.overlay .col-sm-7 { width: 58.33333333%; }
	body.overlay .col-sm-6 { width: 50%; }
	body.overlay .col-sm-5 { width: 41.66666667%; }
	body.overlay .col-sm-4 { width: 33.33333333%; }
	body.overlay .col-sm-3 { width: 25%; }
	body.overlay .col-sm-2 { width: 16.66666667%; }
	body.overlay .col-sm-1 { width: 8.33333333%; }
	body.overlay .col-sm-pull-12 { right: 100%; }
	body.overlay .col-sm-pull-11 { right: 91.66666667%; }
	body.overlay .col-sm-pull-10 { right: 83.33333333%; }
	body.overlay .col-sm-pull-9 { right: 75%; }
	body.overlay .col-sm-pull-8 { right: 66.66666667%; }
	body.overlay .col-sm-pull-7 { right: 58.33333333%; }
	body.overlay .col-sm-pull-6 { right: 50%; }
	body.overlay .col-sm-pull-5 { right: 41.66666667%; }
	body.overlay .col-sm-pull-4 { right: 33.33333333%; }
	body.overlay .col-sm-pull-3 { right: 25%; }
	body.overlay .col-sm-pull-2 { right: 16.66666667%; }
	body.overlay .col-sm-pull-1 { right: 8.33333333%; }
	body.overlay .col-sm-pull-0 { right: auto; }
	body.overlay .col-sm-push-12 { left: 100%; }
	body.overlay .col-sm-push-11 { left: 91.66666667%; }
	body.overlay .col-sm-push-10 { left: 83.33333333%; }
	body.overlay .col-sm-push-9 { left: 75%; }
	body.overlay .col-sm-push-8 { left: 66.66666667%; }
	body.overlay .col-sm-push-7 { left: 58.33333333%; }
	body.overlay .col-sm-push-6 { left: 50%; }
	body.overlay .col-sm-push-5 { left: 41.66666667%; }
	body.overlay .col-sm-push-4 { left: 33.33333333%; }
	body.overlay .col-sm-push-3 { left: 25%; }
	body.overlay .col-sm-push-2 { left: 16.66666667%; }
	body.overlay .col-sm-push-1 { left: 8.33333333%; }
	body.overlay .col-sm-push-0 { left: auto; }
	body.overlay .col-sm-offset-12 { margin-left: 100%; }
	body.overlay .col-sm-offset-11 { margin-left: 91.66666667%; }
	body.overlay .col-sm-offset-10 { margin-left: 83.33333333%; }
	body.overlay .col-sm-offset-9 { margin-left: 75%; }
	body.overlay .col-sm-offset-8 { margin-left: 66.66666667%; }
	body.overlay .col-sm-offset-7 { margin-left: 58.33333333%; }
	body.overlay .col-sm-offset-6 { margin-left: 50%; }
	body.overlay .col-sm-offset-5 { margin-left: 41.66666667%; }
	body.overlay .col-sm-offset-4 { margin-left: 33.33333333%; }
	body.overlay .col-sm-offset-3 { margin-left: 25%; }
	body.overlay .col-sm-offset-2 { margin-left: 16.66666667%; }
	body.overlay .col-sm-offset-1 { margin-left: 8.33333333%; }
	body.overlay .col-sm-offset-0 { margin-left: 0; }

	body.overlay .form-horizontal .control-label {
		padding-top: 7px;
		margin-bottom: 0;
		text-align: right;
	}
}
button.bg-primary:hover:not(:disabled) { background-color: #007399 }
button.bg-primary-dark:hover:not(:disabled) { background-color: #006080 }
button.bg-primary-light:hover:not(:disabled) { background-color: #0086b3 }
button.bg-default:hover:not(:disabled) { background-color: #c9c9c9 }
button.bg-default-dark:hover:not(:disabled) { background-color: #bcbcbc }
button.bg-default-light:hover:not(:disabled) { background-color: #cecece }
button.bg-warning:hover:not(:disabled) { background-color: #ffb42a }
button.bg-warning-dark:hover:not(:disabled) { background-color: #ffab11 }
button.bg-warning-light:hover:not(:disabled) { background-color: #ffbd44 }
button.bg-success:hover:not(:disabled) { background-color: #25a25a }
button.bg-success-dark:hover:not(:disabled) { background-color: #208e4e }
button.bg-success-light:hover:not(:disabled) { background-color: #29b765 }
button.bg-info:hover:not(:disabled) { background-color: #2aafc8 }
button.bg-info-dark:hover:not(:disabled) { background-color: #269db3 }
button.bg-info-light:hover:not(:disabled) { background-color: #37bcd5 }
button.bg-danger:hover:not(:disabled) { background-color: #ce402f }
button.bg-danger-dark:hover:not(:disabled) { background-color: #ba392a }
button.bg-danger-light:hover:not(:disabled) { background-color: #d45242 }
button.bg-white:hover:not(:disabled) { background-color: #e6e6e6 }
button.bg-dark:hover:not(:disabled) { background-color: #363947 }
button.bg-dark-dark:hover:not(:disabled) { background-color: #2b2d39 }
button.bg-dark-light:hover:not(:disabled) { background-color: #414456 }
button.bg-red:hover:not(:disabled) { background-color: #ea1c0d }
button.bg-pink:hover:not(:disabled) { background-color: #c1134e }
button.bg-purple:hover:not(:disabled) { background-color: #771e86 }
button.bg-deeppurple:hover:not(:disabled) { background-color: #512e90 }
button.bg-indigo:hover:not(:disabled) { background-color: #32408f }
button.bg-blue:hover:not(:disabled) { background-color: #0c7cd5 }
button.bg-lightblue:hover:not(:disabled) { background-color: #0286c2 }
button.bg-cyan:hover:not(:disabled) { background-color: #008fa1 }
button.bg-teal:hover:not(:disabled) { background-color: #00635a }
button.bg-green:hover:not(:disabled) { background-color: #3d8b40 }
button.bg-lightgreen:hover:not(:disabled) { background-color: #59a006 }
button.bg-lime:hover:not(:disabled) { background-color: #b2c022 }
button.bg-yellow:hover:not(:disabled) { background-color: #ffe608 }
button.bg-amber:hover:not(:disabled) { background-color: #d39e00 }
button.bg-orange:hover:not(:disabled) { background-color: #cc7a00 }
button.bg-deeporange:hover:not(:disabled) { background-color: #ee3900 }
button.bg-brown:hover:not(:disabled) { background-color: #593f35 }
button.bg-grey:hover:not(:disabled) { background-color: #858585 }
button.bg-bluegrey:hover:not(:disabled) { background-color: #4b626d }

a.bg-primary:hover,
a.bg-primary:active,
button.bg-primary:hover:not(:disabled),
a.bg-primary-dark:hover,
a.bg-primary-dark:active,
button.bg-primary-dark:hover:not(:disabled),
a.bg-default-dark:hover,
a.bg-default-dark:active,
button.bg-default-dark:hover:not(:disabled),
a.bg-default-light:hover,
a.bg-default-light:active,
button.bg-default-light:hover:not(:disabled),
a.bg-warning:hover,
a.bg-warning:active,
button.bg-warning:hover:not(:disabled),
a.bg-warning-dark:hover,
a.bg-warning-dark:active,
button.bg-warning-dark:hover:not(:disabled),
a.bg-warning-light:hover,
a.bg-warning-light:active,
button.bg-warning-light:hover:not(:disabled),
a.bg-success:hover,
a.bg-success:active,
button.bg-success:hover:not(:disabled),
a.bg-success-dark:hover,
a.bg-success-dark:active,
button.bg-success-dark:hover:not(:disabled),
a.bg-success-light:hover,
a.bg-success-light:active,
button.bg-success-light:hover:not(:disabled),
a.bg-info:hover,
a.bg-info:active,
button.bg-info:hover:not(:disabled),
a.bg-info-dark:hover,
a.bg-info-dark:active,
button.bg-info-dark:hover:not(:disabled),
a.bg-info-light:hover,
a.bg-info-light:active,
button.bg-info-light:hover:not(:disabled),
a.bg-danger:hover,
a.bg-danger:active,
button.bg-danger:hover:not(:disabled),
a.bg-danger-dark:hover,
a.bg-danger-dark:active,
button.bg-danger-dark:hover:not(:disabled),
a.bg-danger-light:hover,
a.bg-danger-light:active,
button.bg-danger-light:hover:not(:disabled),
a.bg-dark:hover,
a.bg-dark:active,
button.bg-dark:hover:not(:disabled),
a.bg-dark-dark:hover,
a.bg-dark-dark:active,
button.bg-dark-dark:hover:not(:disabled),
a.bg-dark-light:hover,
a.bg-dark-light:active,
button.bg-dark-light:hover:not(:disabled),
a.bg-red:hover,
a.bg-red:active,
button.bg-red:hover:not(:disabled),
a.bg-pink:hover,
a.bg-pink:active,
button.bg-pink:hover:not(:disabled),
a.bg-purple:hover,
a.bg-purple:active,
button.bg-purple:hover:not(:disabled),
a.bg-deeppurple:hover,
a.bg-deeppurple:active,
button.bg-deeppurple:hover:not(:disabled),
a.bg-indigo:hover,
a.bg-indigo:active,
button.bg-indigo:hover:not(:disabled),
a.bg-blue:hover,
a.bg-blue:active,
button.bg-blue:hover:not(:disabled),
a.bg-lightblue:hover,
a.bg-lightblue:active,
button.bg-lightblue:hover:not(:disabled),
a.bg-cyan:hover,
a.bg-cyan:active,
button.bg-cyan:hover:not(:disabled),
a.bg-teal:hover,
a.bg-teal:active,
button.bg-teal:hover:not(:disabled),
a.bg-green:hover,
a.bg-green:active,
button.bg-green:hover:not(:disabled),
a.bg-lightgreen:hover,
a.bg-lightgreen:active,
button.bg-lightgreen:hover:not(:disabled),
a.bg-lime:hover,
a.bg-lime:active,
button.bg-lime:hover:not(:disabled),
a.bg-yellow:hover,
a.bg-yellow:active,
button.bg-yellow:hover:not(:disabled),
a.bg-amber:hover,
a.bg-amber:active,
button.bg-amber:hover:not(:disabled),
a.bg-orange:hover,
a.bg-orange:active,
button.bg-orange:hover:not(:disabled),
a.bg-deeporange:hover,
a.bg-deeporange:active,
button.bg-deeporange:hover:not(:disabled),
a.bg-brown:hover,
a.bg-brown:active,
button.bg-brown:hover:not(:disabled),
a.bg-grey:hover,
a.bg-grey:active,
button.bg-grey:hover:not(:disabled),
a.bg-bluegrey:hover,
a.bg-bluegrey:active,
button.bg-bluegrey:hover :not(:disabled) {
	color: white;
}
.text-center {
	text-align: center !important;
}
.modal-content {
	border-color: #09c;
	border-radius: 0;
}
.modal-header {
    position: relative;
    padding: 15px;
    background-color: #09c;
	border-color: #09c;
    color: white;
}
.modal-header .close {
	color: white;
	opacity: 0.8;
}
.modal-header .close:hover {
	opacity: 1;
}
.modal-header .close .fa {
	font-size: 16px;
	vertical-align: top;
}
.modal-body > iframe[name="modal"] {
	width: 100%;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-ms-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
.modal-footer {
	border-top: none;
	text-align: center;
}
.modal-footer .btn {
	min-width: 80px;
}
.modal-title {
	line-height: 1.1;
    text-transform: uppercase;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .15s ease-out;
    -moz-transition: -moz-transform .15s ease-out;
    -ms-transition: -ms-transform .15s ease-out;
    -o-transition: -o-transform .15s ease-out;
    transition: transform .15s ease-out;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95)
}
.modal .modal-dialog,
.modal.in .modal-dialog {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.collapse-anchor {
	display: block;
	position: relative;
	top: -60px;
}

.info-message,
.login-panel {
	margin-top: 60px;
	color: #b2b6be;
}
.info-message-icon {
	font-size: 64px;
	margin-bottom: 10px;
}
.register-panel {
	margin-top: 20px;
}
.register-panel .checkbox label {
	cursor: default;
}

@media screen and (min-width:480px) {
	.login-form > .col-sm-12 {
		width: 50%;
		float: left;
	}
	.login-form.stacked > .col-sm-12 {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width:768px) {
	.register-panel {
		margin-top: 100px;
	}

	.login-panel {
		margin-top: 130px;
	}

	.form-centered {
		margin-left: auto;
		margin-right: auto;
		width: 320px;
	}

	body.navigation-hidden footer.content-footer {
		padding-left: 20px;
	}

	body.navigation-hidden .main-panel {
		margin-left: 0;
	}
}

@media screen and (min-width:992px) {
	.md-no-margin { margin: 0!important }
	.md-mn { margin-right: -15px; margin-left: -15px }
	.md-mrn { margin-right: -15px }
	.md-mln { margin-left: -15px }
	.md-mtn { margin-top: -15px }
	.md-mbn { margin-bottom: -15px }
	.md-ml0 { margin-left: 0 }
	.md-mr0 { margin-right: 0 }
	.md-mt0 { margin-top: 0 }
	.md-mb0 { margin-bottom: 0 }
	.md-m30 { margin: 30px }
	.md-mr30 { margin-right: 30px }
	.md-ml30 { margin-left: 30px }
	.md-mt30 { margin-top: 30px }
	.md-mb30 { margin-bottom: 30px }
	.md-m25 { margin: 25px }
	.md-mr25 { margin-right: 25px }
	.md-ml25 { margin-left: 25px }
	.md-mt25 { margin-top: 25px }
	.md-mb25 { margin-bottom: 25px }
	.md-m20 { margin: 20px }
	.md-mr20 { margin-right: 20px }
	.md-ml20 { margin-left: 20px }
	.md-mt20 { margin-top: 20px }
	.md-mb20 { margin-bottom: 20px }
	.md-m15 { margin: 15px }
	.md-mr15 { margin-right: 15px }
	.md-ml15 { margin-left: 15px }
	.md-mt15 { margin-top: 15px }
	.md-mb15 { margin-bottom: 15px }
	.md-m10 { margin: 10px }
	.md-mr10 { margin-right: 10px }
	.md-ml10 { margin-left: 10px }
	.md-mt10 { margin-top: 10px }
	.md-mb10 { margin-bottom: 10px }
	.md-m5 { margin: 5px }
	.md-mr5 { margin-right: 5px }
	.md-ml5 { margin-left: 5px }
	.md-mt5 { margin-top: 5px }
	.md-mb5 { margin-bottom: 5px }
	.md-m2 { margin: 2px }
	.md-mr2 { margin-right: 2px }
	.md-ml2 { margin-left: 2px }
	.md-mt2 { margin-top: 2px }
	.md-mb2 { margin-bottom: 2px }
	.md-no-padding:not(.main-content) { padding: 0!important }
	.md-pl0 { padding-left: 0 }
	.md-pr0 { padding-right: 0 }
	.md-pt0 { padding-top: 0!important }
	.md-pb0 { padding-bottom: 0 }
	.md-p30 { padding: 30px }
	.md-pr30 { padding-right: 30px }
	.md-pl30 { padding-left: 30px }
	.md-pt30 { padding-top: 30px }
	.md-pb30 { padding-bottom: 30px }
	.md-p25 { padding: 25px }
	.md-pr25 { padding-right: 25px }
	.md-pl25 { padding-left: 25px }
	.md-pt25 { padding-top: 25px }
	.md-pb25 { padding-bottom: 25px }
	.md-p20 { padding: 20px }
	.md-pr20 { padding-right: 20px }
	.md-pl20 { padding-left: 20px }
	.md-pt20 { padding-top: 20px }
	.md-pb20 { padding-bottom: 20px }
	.md-p15 { padding: 15px }
	.md-pr15 { padding-right: 15px }
	.md-pl15 { padding-left: 15px }
	.md-pt15 { padding-top: 15px }
	.md-pb15 { padding-bottom: 15px }
	.md-p10 { padding: 10px }
	.md-pr10 { padding-right: 10px }
	.md-pl10 { padding-left: 10px }
	.md-pt10 { padding-top: 10px }
	.md-pb10 { padding-bottom: 10px }
	.md-p5 { padding: 5px }
	.md-pr5 { padding-right: 5px }
	.md-pl5 { padding-left: 5px }
	.md-pt5 { padding-top: 5px }
	.md-pb5 { padding-bottom: 5px }
	.md-p2 { padding: 2px }
	.md-pr2 { padding-right: 2px }
	.md-pl2 { padding-left: 2px }
	.md-pt2 { padding-top: 2px }
	.md-pb2 { padding-bottom: 2px }
}
.no-transition {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.popover .popover-title {
	background-color: #333;
	color: white;
	font-weight: bold;
}

.brand-logo {
	font-weight: 200;
}
.brand-logo strong {
	font-weight: 500;
}
.brand-logo a {
	text-decoration: none;
}
.login-panel .brand-logo {
	font-size: 48px;
	color: #e3e5e8;
}

.navbar .brand-logo,
.navbar .brand-logo a {
	color: #333;
	margin-top: 15px;
	margin-bottom: 14px;
}

.main-panel > .header .navbar-nav .dropdown-menu {
	border-right: none;
}

.navbar > .breadcrumb {
	margin-bottom: 9px;
	margin-top: 10px;
}

.sidebar-panel > nav {
	overflow-y: visible;
}

.sidebar-panel > nav ul > li > a .fa {
	font-size: 16px;
}

.sidebar-panel > nav ul > li > a {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.sidebar-panel > nav li:hover > a > .fa,
.sidebar-panel > nav li:hover > a > span {
	text-indent: 0;
}

.sidebar-panel > nav li.open > a .fa,
.sidebar-panel > nav li.open > a > span {
	text-indent: 3px;
}

.title-bar {
	height: 55px;
	padding: 10px;
	background-color: #495469;
	color: #b2b6be;
	margin: -20px -20px 0;
}
body.full-page .title-bar {
	margin: 0;
}
.title-bar .brand {
	height: 35px;
}
.title-bar .brand a {
    color: #b2b6be;
}
.title-bar .brand a:hover {
    color: #c0c3ca;
}
.title-bar-header {
	float: left;
}
.title-bar-header-title {
	float: left;
}
.title-bar-header-title .brand-logo {
	margin: 0 10px;
	line-height: 35px;
	padding: 0;
}
.title-bar-header-subtitle {
	float: left;
    height: 35px;
	font-weight: 300;
    line-height: 35px;
    margin-top: 0;
    margin-bottom: 0;
	margin-left: 3px;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    padding-left: 12px;
}
.title-bar-title {
	text-align: center;
    font-weight: bold;
    font-size: 16px;
	line-height: 32px;
	padding-top: 3px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}
.title-bar-title strong {
	color: white;
}
.title-bar-separator {
	height: 35px;
}
.title-bar-controls {
	float: right;
}
.title-bar-controls .btn,
.title-bar-controls .title-bar-close {
	float: left;
	margin-right: 5px;
}
.title-bar-controls .btn:last-child {
	margin-right: 0;
}
.title-bar .title-bar-close {
	float: right;
	margin-left: 10px;
}
.title-bar-close {
	padding: 7px;
    color: #b2b6be;
}
.title-bar-close:hover {
    color: #c0c3ca;
}
.title-bar-close i {
	font-size: 16px;
	line-height: 1;
}
.title-bar-toolbar {
	font-size: 14px;
}
.title-bar-toolbar label {
	margin-bottom: 0;
}
.title-bar-toolbar .control-label {
    line-height: 34px;
    vertical-align: top;
    font-weight: bold;
    margin-right: 5px;
}
.title-bar-toolbar-container {
	display: inline-block;
}
.btn-toolbar,
a.btn-toolbar,
a.btn-toolbar:link,
a.btn-toolbar:visited {
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	margin-left: 0;
}
.btn-toolbar:hover,
.btn-toolbar:focus,
a.btn-toolbar:hover,
a.btn-toolbar:focus,
a.btn-toolbar:active {
	color: white;
}
select.btn-toolbar {
	width: auto;
	font-size: 14px;
	border: none;
	cursor: pointer;
	text-align: left;
	padding-right: 32px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAMVJREFUWAntUMENgzAQI5V4sELVR8fgmQ9Sl2CJTteqA5RB2KHP1Fbv0UaQkCJ4+aTjSM6xLVeVSgkoASWgBJRAJoEQQp2C5Papt9wdUgCQe+yvmMcpnN1zT9xfNWsApCcwenSD7mMTdu5t7w2PY1nNGnDOjaAajO7HRCROyGB4gy8fLgeF2AWY1nAvzAe6Q9MUi+K3z2/5N2uAlJGJb5VV4iRaZIDACROrxYsMRCaeiP3Ou90LSZx3F5WgElACSkAJbJnAG0BhRLzc8PY9AAAAAElFTkSuQmCC');
	background: url('data:image/svg+xml;utf8,<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M18.2092634,14.8616071 L12.8264509,20.2371652 C12.734561,20.3290551 12.625744,20.375 12.5,20.375 C12.374256,20.375 12.265439,20.3290551 12.1735491,20.2371652 L6.79073661,14.8616071 C6.69884673,14.7697173 6.65290179,14.6596912 6.65290179,14.531529 C6.65290179,14.4033668 6.69884673,14.2933408 6.79073661,14.2014509 L7.99497768,13.0044643 C8.08686756,12.9125744 8.19568452,12.8666295 8.32142857,12.8666295 C8.44717262,12.8666295 8.55598958,12.9125744 8.64787946,13.0044643 L12.5,16.8565848 L16.3521205,13.0044643 C16.4440104,12.9125744 16.5528274,12.8666295 16.6785714,12.8666295 C16.8043155,12.8666295 16.9131324,12.9125744 17.0050223,13.0044643 L18.2092634,14.2014509 C18.3011533,14.2933408 18.3470982,14.4033668 18.3470982,14.531529 C18.3470982,14.6596912 18.3011533,14.7697173 18.2092634,14.8616071 L18.2092634,14.8616071 Z" fill="rgb(255,255,255)" fill-opacity="0.5"></path></svg>'), linear-gradient(transparent, transparent);
	background-color: rgba(255, 255, 255, 0.1);
	background-repeat: no-repeat;
	background-position: right;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.title-bar-toolbar.pull-left::after,
.title-bar-toolbar.pull-right::after {
	content: '';
	display: block;
    height: 41px;
    margin-top: -3px;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
	margin-left: 10px;
	margin-right: 10px;
}
.title-bar-toolbar.pull-left::after {
	float: left;
}
.title-bar-toolbar.pull-right::after {
	float: right;
}
.title-bar-dropdown {
	display: inline-block;
    width: auto;
    background: transparent;
    color: white;
    border-color: rgba(178,182,190,0.5);
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
	cursor: pointer;
}
.title-bar-dropdown:hover {
    border-color: rgba(178,182,190,1);
}
.title-bar-dropdown:focus {
	border-color: white;
}

@media screen and (max-width: 767px) {
	.title-bar-controls {
		position: absolute;
		float: none;
		padding: 10px;
		margin: 0 -10px;
		width: 100%;
		bottom: 0;
		background-color: #495469;
		text-align: center;
	}
	.title-bar-controls .btn {
		float: none;
	}
	.title-bar-controls .btn:first-child:last-child {
		width: 100%;
	}
	.title-bar-toolbar {
		background-color: #495469;
		position: relative;
		z-index: 1;
		margin: 45px -10px 0;
		padding: 10px;
	}
}

footer.content-footer {
	bottom: 1px;
}

.dropdown-menu > li > a {
	padding: 10px 20px;
	text-decoration: none;
}

.alert {
	overflow: hidden;
}
.alert > .fa {
	margin-left: 10px;
	margin-top: 3px;
	font-size: 32px;
}
.alert-block > .fa {
	margin-top: 10px;
}
.alert > .fa + * {
	margin-left: 62px;
}
.alert p {
	color: inherit;
}
.alert h4 {
	font-weight: bold;
}
.alert h5 {
	font-weight: bold;
}
.alert ul {
	padding-left: 15px;
}
.alert .close {
	color: inherit;
	text-shadow: none;
	filter: alpha(opacity=80);
	opacity: 0.8
}
.alert .close:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.alert-xs {
	padding: 6px 10px;
	margin-bottom: 0;
}
.alert-xs .close {
	font-size: 16px;
	line-height: 20px;
}
.alert-xs > .fa {
	float: left;
	padding: 3px 0;
	margin-left: 2px;
	margin-top: 0;
	font-size: 14px;
}
.alert-xs > .fa + * {
	margin-left: 25px;
}

.panel-group .panel {
	border-radius: 0;
}
.panel-group .panel +.panel {
	margin-top: 1px;
	border-radius: 0;
}

.form-control::-webkit-input-placeholder {
	color: rgba(135, 135, 135, 0.5);
}

.form-control-feedback.fa {
	line-height: 34px;
	right: 15px;
}

.theme-previews {
	list-style: none;
	margin: 0;
	padding: 0;
}
.theme-preview-control {
	display: inline-block;
	width: auto;
}
.theme-preview-control-title {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.theme-preview-control-thumbnail {
	display: block;
	position: relative;
	overflow: hidden;
}
.theme-preview-control-thumbnail:hover::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.25);
}
.theme-preview-control-thumbnail-image,
.theme-preview-control-thumbnail-placeholder {
	width: 200px;
	height: 150px;
}
.theme-preview-control-thumbnail-placeholder {
	color: white;
}
.theme-preview-control-thumbnail-icon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	line-height: 150px;
    text-align: center;
}
.theme-preview-control-thumbnail-icon i {
	font-size: 64px;
	line-height: 150px;
}
.theme-preview-control-thumbnail > .theme-preview-control-thumbnail-icon {
	opacity: 0;
	-webkit-transform: translateY(-25%);
	-moz-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
	-o-transform: translateY(-25%);
	transform: translateY(-25%);
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
}
.theme-preview-control-thumbnail:hover > .theme-preview-control-thumbnail-icon {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.theme-preview-control-radio-input {
	display: none;
}

.theme-gallery {
	height: 100%;
}
.theme-gallery-main {
	position: absolute;
	top: 55px;
	left: 0;
	right: 0;
	bottom: 0;
}
@media screen and (max-width: 767px) {
	.theme-gallery-main {
		top: 109px;
		bottom: 54px;
	}
}
.theme-gallery-preview {
	width: 100%;
	height: 100%;
}

.input-group.web-address-control .input-group-addon {
	border: none;
	background-color: transparent;
	padding-left: 6px;
	padding-right: 2px;
}
.input-group.web-address-control.has-error .input-group-addon {
	color: #616161;
}
.input-group.web-address-control .form-control {
	padding-left: 2px;
}
.input-group.web-address-control .form-control-feedback.fa {
	right: 5px;
}

.has-error .form-control-feedback.fa:before {
	content: "\f00d";
}

.path-control > input {
	display: none;
}
.path-control.editing > input {
	display: block;
}
.path-control.editing .path-control-segments {
	display: none;
}
.path-control-segments {
	display: inline-block;
	list-style: none;
	line-height: 25px;
	padding: 5px 0 2px;
	margin-bottom: 0;
}
.path-control-segments > li {
	position: relative;
	display: inline-block;
	padding: 0 10px;
	background-color: #e2e2e2;
	border-radius: 2px;
	margin-right: 17px;
	border: 1px solid #ccc;
}
.path-control-segments > li:last-child {
	margin-right: 0;
}
.path-control > input:not(:disabled):not(:read-only) + .path-control-segments > li {
	cursor: pointer;
}
.path-control > input:not(:disabled):not(:read-only) + .path-control-segments > li:hover {
	background-color: #f4f4f4;
}
.path-control-extra {
	display: inline-block;
	vertical-align: top;
	margin-left: 17px;
}
.path-control-extra .form-control {
	display: inline-block;
	width: auto;
}
.path-control-extra .input-group {
	padding: 5px 0 2px;
	width: 100px;
}
.path-control-extra .input-group .input-group-addon {
    height: 27px;
    font-size: 13px;
    line-height: 1;
	border-color: #ccc;
    border-radius: 2px 0 0 2px;
}
.path-control-extra .input-group .form-control {
    height: 27px;
	border-color: #ccc;
    border-radius: 0 2px 2px 0;
}
.path-control-extra .input-group .form-control:focus {
	border-color: #0ac2ff;
}
.path-control-extra .input-group.has-error .input-group-addon,
.path-control-extra .input-group.has-error .form-control {
	border-color: #d96557;
}
.path-control.editing .path-control-extra {
	display: none;
}
.path-control-segments > li::before,
.path-control-segments > li::after {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.path-control-segments > li::before {
	content: "\f114";
	margin-right: 8px;
}
.path-control-segments > li:first-child::before {
	content: "\f0a0";
}
.path-control-segments > li::after {
    content: "\f0da";
	position: absolute;
	left: 100%;
	font-size: 16px;
    vertical-align: top;
    padding: 0 8px;
	line-height: 25px;
    color: #999;
}
.path-control:not(.has-extra) .path-control-segments > li:last-child::after {
	content: none;
}
.path-control.has-error .path-control-segments > li {
	border-color: #d96557;
}

.upload-control-label {
	display: block;
	position: relative;
	vertical-align: top;
}
.upload-control-icon {
	display: block;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	z-index: 2;
	font-size: 14px;
	line-height: 1;
	padding: 8px 0 10px;
	width: 32px;
	text-align: center;
}
.upload-control-label-input + .upload-control-icon {
	display: none;
}
.upload-control-label-input.has-value +  .upload-control-icon {
	display: block;
}
.upload-control-label-input.has-value {
	padding-left: 30px;
}
.upload-control-clear {
	display: block;
	position: absolute;
	top: 1px;
	bottom: 1px;
	right: 0;
	z-index: 2;
}
.upload-control-clear .fa {
	width: 28px;
	height: 32px;
	font-size: 16px;
	line-height: 1;
	padding: 8px 6px;
}
.upload-control-clear:disabled {
	display: none;
}
.upload-control-file-input,
.upload-control-file-input::-webkit-file-upload-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	display: block;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	overflow: hidden;
	cursor: pointer;
    opacity: 0;
}
.upload-control-progress {
	padding-top: 14px;
	padding-bottom: 15px;
}
.upload-control-error {
}
.upload-control.loading .upload-control-label,
.upload-control.loading .upload-control-button,
.upload-control.error .upload-control-label,
.upload-control.error .upload-control-button {
	display: none;
}
.upload-control .upload-control-progress {
	display: none;
}
.upload-control.loading .upload-control-progress {
	display: block;
}
.upload-control .upload-control-error {
	display: none;
}
.upload-control.error .upload-control-error {
	display: block;
}

.panel-heading {
	font-weight: bold;
}

a.panel-heading,
button.panel-heading {
	display: block;
	width: 100%;
	text-decoration: none;
}

.panel-arrow {
	display: block;
	font-size: 20px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform 300ms ease;
	-moz-transition: -moz-transform 300ms ease;
	-ms-transition: -ms-transform 300ms ease;
	-o-transition: -o-transform 300ms ease;
	transition: transform 300ms ease;
}
.panel-heading.collapsed .panel-arrow {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.panel-group .panel-arrow {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.panel-group .panel-heading.collapsed .panel-arrow {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.widget-icon.fa-dropbox {
	font-size: 300%;
	color: #1081DE;
}
.widget-icon.fa-google {
	background-color: #4184f3;
	color: white;
}

.widget[data-toggle="collapse"][aria-expanded="true"] {
	display: none;
}
.widget[data-toggle="collapse"][aria-expanded="false"] + .widget {
	display: none;
}

.panel[data-toggle="panel"] .panel-body {
	display: none;
}
.panel[data-toggle="panel"].panel-edit .panel-controls,
.panel[data-toggle="panel"].panel-delete .panel-controls {
	display: none;
}
.panel[data-toggle="panel"].panel-edit .panel-body-edit,
.panel[data-toggle="panel"].panel-delete .panel-body-delete {
	display: block;
}
.panel[data-toggle="panel"].panel-edit {
	border-color: #09c
}
.panel[data-toggle="panel"].panel-edit > .panel-heading {
	color: #fff;
	background-color: #09c;
	border-color: #09c;
}
.panel[data-toggle="panel"].panel-edit > .panel-heading+.panel-collapse .panel-body {
	border-top-color: #09c;
}
.panel[data-toggle="panel"].panel-edit > .panel-heading .badge {
	color: #09c;
	background-color: #fff;
}
.panel[data-toggle="panel"].panel-edit > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #09c
}
.panel[data-toggle="panel"].panel-delete {
	border-color: #d96557;
}
.panel[data-toggle="panel"].panel-delete > .panel-heading {
	color: #fff;
	background-color: #d96557;
	border-color: #d96557;
}
.panel[data-toggle="panel"].panel-delete > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #d96557;
}
.panel[data-toggle="panel"].panel-delete > .panel-heading .badge {
	color: #d96557;
	background-color: #fff;
}
.panel[data-toggle="panel"].panel-delete > .panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #d96557;
}

.site-users .panel-heading {
	font-weight: normal;
}
.site-users .panel.panel-white:hover {
	background-color: #e6e6e6;
}
.site-users .panel.panel-white:hover .panel-body {
	background-color: white;
}
.site-users .widget .widget-actions {
	opacity: 0.75;
}
.site-users .widget:hover .widget-actions {
	opacity: 1;
}

.filecanvas-sync-idle { }
.filecanvas-sync-loading { display: none; }
.filecanvas-sync-success { display: none; }
.filecanvas-sync-error { display: none; }

.is-filecanvas-sync-loading .filecanvas-sync-idle { display: none; }
.is-filecanvas-sync-loading .filecanvas-sync-loading { display: inline; }
.is-filecanvas-sync-loading .filecanvas-sync-success { display: none; }
.is-filecanvas-sync-loading .filecanvas-sync-error { display: none; }

.is-filecanvas-sync-success .filecanvas-sync-idle { display: none; }
.is-filecanvas-sync-success .filecanvas-sync-loading { display: none; }
.is-filecanvas-sync-success .filecanvas-sync-success { display: inline }
.is-filecanvas-sync-success .filecanvas-sync-error { display: none; }

.is-filecanvas-sync-error .filecanvas-sync-idle { display: none; }
.is-filecanvas-sync-error .filecanvas-sync-loading { display: none; }
.is-filecanvas-sync-error .filecanvas-sync-success { display: none; }
.is-filecanvas-sync-error .filecanvas-sync-error { display: inline }


.filecanvas-check-folder-exists-loading { display: none; }
.filecanvas-check-folder-exists-valid { display: none; }
.filecanvas-check-folder-exists-invalid { display: none; }
.filecanvas-check-folder-exists-error { display: none; }

.is-filecanvas-check-folder-exists-loading .filecanvas-check-folder-exists-loading { display: inline; }
.is-filecanvas-check-folder-exists-valid .filecanvas-check-folder-exists-valid { display: inline; }
.is-filecanvas-check-folder-exists-invalid .filecanvas-check-folder-exists-invalid { display: inline; }
.is-filecanvas-check-folder-exists-error .filecanvas-check-folder-exists-error { display: inline; }

.widget-icon.filecanvas-check-folder-exists-loading { display: none; }
.widget-icon.filecanvas-check-folder-exists-valid { display: none; }
.widget-icon.filecanvas-check-folder-exists-invalid { display: none; }
.widget-icon.filecanvas-check-folder-exists-error { display: none; }

.is-filecanvas-check-folder-exists-loading .widget-icon.filecanvas-check-folder-exists-loading { display: block; }
.is-filecanvas-check-folder-exists-valid .widget-icon.filecanvas-check-folder-exists-valid { display: block; }
.is-filecanvas-check-folder-exists-invalid .widget-icon.filecanvas-check-folder-exists-invalid { display: block; }
.is-filecanvas-check-folder-exists-error .widget-icon.filecanvas-check-folder-exists-error { display: block; }

.logout {
	display: none;
}
