body {
	background-color: #f0f0f0;
}

body.navigation-hidden,
body.navigation-hidden .app,
body.navigation-hidden .main-panel {
	background-color: #495469;
}
body.navigation-hidden button.bg-white {
	background-color: #e3e5e8;
}
body.navigation-hidden button.bg-white:hover:not(:disabled) {
	background-color: white;
}
body.navigation-hidden .title-bar,
body.navigation-hidden .content-footer {
	background-color: rgba(0, 0, 0, 0.2);
}
body.navigation-hidden footer.content-footer nav ul li a {
	color: #b2b6be;
	opacity: 0.5;
}
body.navigation-hidden footer.content-footer nav ul li a:link:hover {
	opacity: 0.75;
}

body.full-page .app,
body.full-page .main-panel,
body.full-page .main-content {
	height: 100%;
}
body.full-page .main-content {
	margin: 0;
	padding: 0;
}

a:not(:link) {
	cursor: default;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: underline;
}

a.btn,
a.btn:active,
a.btn:focus,
a.btn:hover,
a.btn:visited,
a.widget,
a.widget:active,
a.widget:focus,
a.widget:hover,
a.widget:visited,
.nav a,
.nav a:active,
.nav a:focus,
.nav a:hover,
.nav a:visited,
.breadcrumb a,
.breadcrumb a:active,
.breadcrumb a:focus,
.breadcrumb a:hover,
.breadcrumb a:visited,
.content-footer a,
.content-footer a:active,
.content-footer a:focus,
.content-footer a:hover,
.content-footer a:visited {
	text-decoration: none;
}

.form-control.input-sm { font-size: 12px; }
.form-control.input-lg { font-size: 18px; }

button.btn-reset {
	text-align: left;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

button.bg-primary:hover:not(:disabled) { background-color: #007399 }
button.bg-primary-dark:hover:not(:disabled) { background-color: #006080 }
button.bg-primary-light:hover:not(:disabled) { background-color: #0086b3 }
button.bg-default:hover:not(:disabled) { background-color: #c9c9c9 }
button.bg-default-dark:hover:not(:disabled) { background-color: #bcbcbc }
button.bg-default-light:hover:not(:disabled) { background-color: #cecece }
button.bg-warning:hover:not(:disabled) { background-color: #ffb42a }
button.bg-warning-dark:hover:not(:disabled) { background-color: #ffab11 }
button.bg-warning-light:hover:not(:disabled) { background-color: #ffbd44 }
button.bg-success:hover:not(:disabled) { background-color: #25a25a }
button.bg-success-dark:hover:not(:disabled) { background-color: #208e4e }
button.bg-success-light:hover:not(:disabled) { background-color: #29b765 }
button.bg-info:hover:not(:disabled) { background-color: #2aafc8 }
button.bg-info-dark:hover:not(:disabled) { background-color: #269db3 }
button.bg-info-light:hover:not(:disabled) { background-color: #37bcd5 }
button.bg-danger:hover:not(:disabled) { background-color: #ce402f }
button.bg-danger-dark:hover:not(:disabled) { background-color: #ba392a }
button.bg-danger-light:hover:not(:disabled) { background-color: #d45242 }
button.bg-white:hover:not(:disabled) { background-color: #e6e6e6 }
button.bg-dark:hover:not(:disabled) { background-color: #363947 }
button.bg-dark-dark:hover:not(:disabled) { background-color: #2b2d39 }
button.bg-dark-light:hover:not(:disabled) { background-color: #414456 }
button.bg-red:hover:not(:disabled) { background-color: #ea1c0d }
button.bg-pink:hover:not(:disabled) { background-color: #c1134e }
button.bg-purple:hover:not(:disabled) { background-color: #771e86 }
button.bg-deeppurple:hover:not(:disabled) { background-color: #512e90 }
button.bg-indigo:hover:not(:disabled) { background-color: #32408f }
button.bg-blue:hover:not(:disabled) { background-color: #0c7cd5 }
button.bg-lightblue:hover:not(:disabled) { background-color: #0286c2 }
button.bg-cyan:hover:not(:disabled) { background-color: #008fa1 }
button.bg-teal:hover:not(:disabled) { background-color: #00635a }
button.bg-green:hover:not(:disabled) { background-color: #3d8b40 }
button.bg-lightgreen:hover:not(:disabled) { background-color: #59a006 }
button.bg-lime:hover:not(:disabled) { background-color: #b2c022 }
button.bg-yellow:hover:not(:disabled) { background-color: #ffe608 }
button.bg-amber:hover:not(:disabled) { background-color: #d39e00 }
button.bg-orange:hover:not(:disabled) { background-color: #cc7a00 }
button.bg-deeporange:hover:not(:disabled) { background-color: #ee3900 }
button.bg-brown:hover:not(:disabled) { background-color: #593f35 }
button.bg-grey:hover:not(:disabled) { background-color: #858585 }
button.bg-bluegrey:hover:not(:disabled) { background-color: #4b626d }

a.bg-primary:hover,
a.bg-primary:active,
button.bg-primary:hover:not(:disabled),
a.bg-primary-dark:hover,
a.bg-primary-dark:active,
button.bg-primary-dark:hover:not(:disabled),
a.bg-default:hover,
a.bg-default:active,
button.bg-default:hover:not(:disabled),
a.bg-default-dark:hover,
a.bg-default-dark:active,
button.bg-default-dark:hover:not(:disabled),
a.bg-default-light:hover,
a.bg-default-light:active,
button.bg-default-light:hover:not(:disabled),
a.bg-warning:hover,
a.bg-warning:active,
button.bg-warning:hover:not(:disabled),
a.bg-warning-dark:hover,
a.bg-warning-dark:active,
button.bg-warning-dark:hover:not(:disabled),
a.bg-warning-light:hover,
a.bg-warning-light:active,
button.bg-warning-light:hover:not(:disabled),
a.bg-success:hover,
a.bg-success:active,
button.bg-success:hover:not(:disabled),
a.bg-success-dark:hover,
a.bg-success-dark:active,
button.bg-success-dark:hover:not(:disabled),
a.bg-success-light:hover,
a.bg-success-light:active,
button.bg-success-light:hover:not(:disabled),
a.bg-info:hover,
a.bg-info:active,
button.bg-info:hover:not(:disabled),
a.bg-info-dark:hover,
a.bg-info-dark:active,
button.bg-info-dark:hover:not(:disabled),
a.bg-info-light:hover,
a.bg-info-light:active,
button.bg-info-light:hover:not(:disabled),
a.bg-danger:hover,
a.bg-danger:active,
button.bg-danger:hover:not(:disabled),
a.bg-danger-dark:hover,
a.bg-danger-dark:active,
button.bg-danger-dark:hover:not(:disabled),
a.bg-danger-light:hover,
a.bg-danger-light:active,
button.bg-danger-light:hover:not(:disabled),
a.bg-dark:hover,
a.bg-dark:active,
button.bg-dark:hover:not(:disabled),
a.bg-dark-dark:hover,
a.bg-dark-dark:active,
button.bg-dark-dark:hover:not(:disabled),
a.bg-dark-light:hover,
a.bg-dark-light:active,
button.bg-dark-light:hover:not(:disabled),
a.bg-red:hover,
a.bg-red:active,
button.bg-red:hover:not(:disabled),
a.bg-pink:hover,
a.bg-pink:active,
button.bg-pink:hover:not(:disabled),
a.bg-purple:hover,
a.bg-purple:active,
button.bg-purple:hover:not(:disabled),
a.bg-deeppurple:hover,
a.bg-deeppurple:active,
button.bg-deeppurple:hover:not(:disabled),
a.bg-indigo:hover,
a.bg-indigo:active,
button.bg-indigo:hover:not(:disabled),
a.bg-blue:hover,
a.bg-blue:active,
button.bg-blue:hover:not(:disabled),
a.bg-lightblue:hover,
a.bg-lightblue:active,
button.bg-lightblue:hover:not(:disabled),
a.bg-cyan:hover,
a.bg-cyan:active,
button.bg-cyan:hover:not(:disabled),
a.bg-teal:hover,
a.bg-teal:active,
button.bg-teal:hover:not(:disabled),
a.bg-green:hover,
a.bg-green:active,
button.bg-green:hover:not(:disabled),
a.bg-lightgreen:hover,
a.bg-lightgreen:active,
button.bg-lightgreen:hover:not(:disabled),
a.bg-lime:hover,
a.bg-lime:active,
button.bg-lime:hover:not(:disabled),
a.bg-yellow:hover,
a.bg-yellow:active,
button.bg-yellow:hover:not(:disabled),
a.bg-amber:hover,
a.bg-amber:active,
button.bg-amber:hover:not(:disabled),
a.bg-orange:hover,
a.bg-orange:active,
button.bg-orange:hover:not(:disabled),
a.bg-deeporange:hover,
a.bg-deeporange:active,
button.bg-deeporange:hover:not(:disabled),
a.bg-brown:hover,
a.bg-brown:active,
button.bg-brown:hover:not(:disabled),
a.bg-grey:hover,
a.bg-grey:active,
button.bg-grey:hover:not(:disabled),
a.bg-bluegrey:hover,
a.bg-bluegrey:active,
button.bg-bluegrey:hover :not(:disabled) {
	color: white;
}
.text-center {
	text-align: center !important;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .15s ease-out;
    -o-transition: -o-transform .15s ease-out;
    transition: transform .15s ease-out;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95)
}
.modal .modal-dialog,
.modal.in .modal-dialog {
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}
.form-centered {
	color: #b2b6be;
}
.form-centered-icon {
	font-size: 64px;
	margin-bottom: 10px;
}
.register-panel {
}
.register-panel .checkbox label {
	cursor: default;
}

@media screen and (min-width:768px) {
	.register-panel {
		margin-top: 100px;
	}
	.form-centered {
		margin-top: 130px;
		margin-left: auto;
		margin-right: auto;
		width: 320px;
	}

	body.navigation-hidden footer.content-footer {
		padding-left: 20px;
	}

	body.navigation-hidden .main-panel {
		margin-left: 0;
	}
}

@media screen and (min-width:992px) {
	.md-no-margin { margin: 0!important }
	.md-mn { margin-right: -15px; margin-left: -15px }
	.md-mrn { margin-right: -15px }
	.md-mln { margin-left: -15px }
	.md-mtn { margin-top: -15px }
	.md-mbn { margin-bottom: -15px }
	.md-ml0 { margin-left: 0 }
	.md-mr0 { margin-right: 0 }
	.md-mt0 { margin-top: 0 }
	.md-mb0 { margin-bottom: 0 }
	.md-m30 { margin: 30px }
	.md-mr30 { margin-right: 30px }
	.md-ml30 { margin-left: 30px }
	.md-mt30 { margin-top: 30px }
	.md-mb30 { margin-bottom: 30px }
	.md-m25 { margin: 25px }
	.md-mr25 { margin-right: 25px }
	.md-ml25 { margin-left: 25px }
	.md-mt25 { margin-top: 25px }
	.md-mb25 { margin-bottom: 25px }
	.md-m20 { margin: 20px }
	.md-mr20 { margin-right: 20px }
	.md-ml20 { margin-left: 20px }
	.md-mt20 { margin-top: 20px }
	.md-mb20 { margin-bottom: 20px }
	.md-m15 { margin: 15px }
	.md-mr15 { margin-right: 15px }
	.md-ml15 { margin-left: 15px }
	.md-mt15 { margin-top: 15px }
	.md-mb15 { margin-bottom: 15px }
	.md-m10 { margin: 10px }
	.md-mr10 { margin-right: 10px }
	.md-ml10 { margin-left: 10px }
	.md-mt10 { margin-top: 10px }
	.md-mb10 { margin-bottom: 10px }
	.md-m5 { margin: 5px }
	.md-mr5 { margin-right: 5px }
	.md-ml5 { margin-left: 5px }
	.md-mt5 { margin-top: 5px }
	.md-mb5 { margin-bottom: 5px }
	.md-m2 { margin: 2px }
	.md-mr2 { margin-right: 2px }
	.md-ml2 { margin-left: 2px }
	.md-mt2 { margin-top: 2px }
	.md-mb2 { margin-bottom: 2px }
	.md-no-padding:not(.main-content) { padding: 0!important }
	.md-pl0 { padding-left: 0 }
	.md-pr0 { padding-right: 0 }
	.md-pt0 { padding-top: 0!important }
	.md-pb0 { padding-bottom: 0 }
	.md-p30 { padding: 30px }
	.md-pr30 { padding-right: 30px }
	.md-pl30 { padding-left: 30px }
	.md-pt30 { padding-top: 30px }
	.md-pb30 { padding-bottom: 30px }
	.md-p25 { padding: 25px }
	.md-pr25 { padding-right: 25px }
	.md-pl25 { padding-left: 25px }
	.md-pt25 { padding-top: 25px }
	.md-pb25 { padding-bottom: 25px }
	.md-p20 { padding: 20px }
	.md-pr20 { padding-right: 20px }
	.md-pl20 { padding-left: 20px }
	.md-pt20 { padding-top: 20px }
	.md-pb20 { padding-bottom: 20px }
	.md-p15 { padding: 15px }
	.md-pr15 { padding-right: 15px }
	.md-pl15 { padding-left: 15px }
	.md-pt15 { padding-top: 15px }
	.md-pb15 { padding-bottom: 15px }
	.md-p10 { padding: 10px }
	.md-pr10 { padding-right: 10px }
	.md-pl10 { padding-left: 10px }
	.md-pt10 { padding-top: 10px }
	.md-pb10 { padding-bottom: 10px }
	.md-p5 { padding: 5px }
	.md-pr5 { padding-right: 5px }
	.md-pl5 { padding-left: 5px }
	.md-pt5 { padding-top: 5px }
	.md-pb5 { padding-bottom: 5px }
	.md-p2 { padding: 2px }
	.md-pr2 { padding-right: 2px }
	.md-pl2 { padding-left: 2px }
	.md-pt2 { padding-top: 2px }
	.md-pb2 { padding-bottom: 2px }
}
.no-transition {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.brand-logo {
	font-weight: bold;
}

.brand-logo a {
	text-decoration: none;
}

.navbar .brand-logo,
.navbar .brand-logo a {
	color: #333;
	margin-top: 15px;
	margin-bottom: 14px;
}

.main-panel > .header .navbar-nav .dropdown-menu {
	border-right: none;
}

.navbar > .breadcrumb {
	margin-bottom: 9px;
	margin-top: 10px;
}

.sidebar-panel > nav {
	overflow-y: visible;
}

.sidebar-panel > nav ul > li > a .fa {
	font-size: 16px;
}

.sidebar-panel > nav ul > li > a {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.sidebar-panel > nav li:hover > a > .fa,
.sidebar-panel > nav li:hover > a > span {
	text-indent: 0;
}

.sidebar-panel > nav li.open > a .fa,
.sidebar-panel > nav li.open > a > span {
	text-indent: 3px;
}

.title-bar {
	height: 55px;
	padding: 10px;
	background-color: #495469;
	color: #b2b6be;
	margin: -20px -20px 0;
}
body.full-page .title-bar {
	margin: 0;
}
.title-bar .brand {
	height: 35px;
}
.title-bar .brand a {
    color: #b2b6be;
}
.title-bar .brand a:hover {
    color: #c0c3ca;
}
.title-bar-title {
	float: left;
}
.title-bar-separator {
	height: 35px;
}
.title-bar-title .brand-logo {
	margin: 0 10px;
	line-height: 35px;
	padding: 0;
}
.title-bar-subtitle {
	float: left;
    height: 35px;
	font-weight: 300;
    line-height: 35px;
    margin-top: 0;
    margin-bottom: 0;
	margin-left: 3px;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    padding-left: 12px;
}
.title-bar-controls {
	float: right;
}
.title-bar-controls .btn,
.title-bar-controls .title-bar-close {
	float: left;
	margin-left: 5px;
}
.title-bar-close {
	padding: 7px;
    color: #b2b6be;
}
.title-bar-close:hover {
    color: #c0c3ca;
}
.title-bar-close i {
	font-size: 16px;
	line-height: 1;
}
.title-bar-toolbar {
	float: left;
}
.title-bar-toolbar .btn {
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.title-bar-toolbar::after {
	content: '';
	display: block;
	float: left;
    height: 41px;
    margin-top: -3px;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
	margin-left: 10px;
	margin-right: 5px;
}

footer.content-footer {
	bottom: 1px;
}

.dropdown-menu > li > a {
	padding: 10px 20px;
}

.alert {
	overflow: hidden;
}

.alert > .fa {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 32px;
}
.alert > .fa + * {
	margin-left: 62px;
}
.alert p {
	color: inherit;
}
.alert h4 {
	font-weight: bold;
}
.alert h5 {
	font-weight: bold;
}
.alert ul {
	padding-left: 15px;
}

.panel-group .panel {
	border-radius: 0;
}
.panel-group .panel +.panel {
	margin-top: 1px;
	border-radius: 0;
}

.form-control::-webkit-input-placeholder {
	color: rgba(135, 135, 135, 0.5);
}

.form-control-feedback.fa {
	line-height: 34px;
	right: 15px;
}

.theme-previews {
	list-style: none;
	margin: 0;
	padding: 0;
}
.theme-preview-control {
	display: inline-block;
	width: auto;
}
.theme-preview-control-title {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.theme-preview-control-thumbnail {
	display: block;
	position: relative;
	overflow: hidden;
}
.theme-preview-control-thumbnail:hover::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.25);
}
.theme-preview-control-thumbnail-image,
.theme-preview-control-thumbnail-placeholder {
	width: 200px;
	height: 150px;
}
.theme-preview-control-thumbnail-placeholder {
	color: white;
}
.theme-preview-control-thumbnail-icon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	line-height: 150px;
    text-align: center;
}
.theme-preview-control-thumbnail-icon i {
	font-size: 64px;
	line-height: 150px;
}
.theme-preview-control-thumbnail > .theme-preview-control-thumbnail-icon {
	opacity: 0;
	-webkit-transform: translateY(-25%);
	-moz-transform: translateY(-25%);
	-o-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
	transform: translateY(-25%);
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
}
.theme-preview-control-thumbnail:hover > .theme-preview-control-thumbnail-icon {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.theme-preview-control-radio-input {
	display: none;
}

.theme-gallery {
	height: 100%;
}
.theme-gallery-main {
	position: absolute;
	top: 55px;
	left: 0;
	right: 0;
	bottom: 0;
}
.theme-gallery-preview {
	width: 100%;
	height: 100%;
}

.input-group.web-address-control .input-group-addon {
	border: none;
	background-color: transparent;
	padding-left: 6px;
	padding-right: 2px;
}
.input-group.web-address-control.has-error .input-group-addon {
	color: #616161;
}
.input-group.web-address-control .form-control {
	padding-left: 2px;
}
.input-group.web-address-control .form-control-feedback.fa {
	right: 5px;
}

.has-error .form-control-feedback.fa:before {
	content: "\f00d";
}

.path-control .form-control {
	display: none;
}
.path-control.editing .form-control {
	display: block;
}
.path-control.editing .path-control-segments {
	display: none;
}
.path-control-segments {
	list-style: none;
	line-height: 25px;
	padding: 5px 0 2px;
	margin-bottom: 0;
}
.path-control-segments > li {
	position: relative;
	display: inline-block;
	padding: 0 10px;
	background-color: #e2e2e2;
	border-radius: 2px;
	margin-right: 17px;
	border: 1px solid #ccc;
}
.path-control-segments > li:last-child {
	margin-right: 0;
}
.path-control > input:not(:disabled):not(:read-only) + .path-control-segments > li {
	cursor: pointer;
}
.path-control > input:not(:disabled):not(:read-only) + .path-control-segments > li:hover {
	background-color: #f4f4f4;
}
.path-control-segments > li::before,
.path-control-segments > li::after {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}
.path-control-segments > li::before {
	content: "\f114";
	margin-right: 8px;
}
.path-control-segments > li:first-child::before {
	content: "\f0a0";
}
.path-control-segments > li::after {
    content: "\f0da";
	position: absolute;
	left: 100%;
	font-size: 16px;
    vertical-align: top;
    padding: 0 8px;
	line-height: 25px;
    color: #999;
}
.path-control-segments > li:last-child::after {
	content: none;
}
.path-control.has-error .path-control-segments > li {
	border-color: #d96557;
}

.panel-heading {
	font-weight: bold;
}

a.panel-heading {
	display: block;
	text-decoration: none;
}

.panel-arrow {
	display: block;
	font-size: 20px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: transform 300ms ease;
	-moz-transition: transform 300ms ease;
	-o-transition: transform 300ms ease;
	transition: transform 300ms ease;
}
.panel-heading.collapsed .panel-arrow {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.panel-group .panel-arrow {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.panel-group .panel-heading.collapsed .panel-arrow {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.widget-icon.fa-dropbox {
	font-size: 300%;
	color: #1081DE;
}

.widget[data-toggle="collapse"][aria-expanded="true"] {
	display: none;
}
.widget[data-toggle="collapse"][aria-expanded="false"] + .widget {
	display: none;
}

.panel[data-toggle="panel"] .panel-body {
	display: none;
}
.panel[data-toggle="panel"].panel-edit .panel-controls,
.panel[data-toggle="panel"].panel-delete .panel-controls {
	display: none;
}
.panel[data-toggle="panel"].panel-edit .panel-body-edit,
.panel[data-toggle="panel"].panel-delete .panel-body-delete {
	display: block;
}
.panel[data-toggle="panel"].panel-edit {
	border-color: #09c
}
.panel[data-toggle="panel"].panel-edit > .panel-heading {
	color: #fff;
	background-color: #09c;
	border-color: #09c;
}
.panel[data-toggle="panel"].panel-edit > .panel-heading+.panel-collapse .panel-body {
	border-top-color: #09c;
}
.panel[data-toggle="panel"].panel-edit > .panel-heading .badge {
	color: #09c;
	background-color: #fff;
}
.panel[data-toggle="panel"].panel-edit > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #09c
}
.panel[data-toggle="panel"].panel-delete {
	border-color: #d96557;
}
.panel[data-toggle="panel"].panel-delete > .panel-heading {
	color: #fff;
	background-color: #d96557;
	border-color: #d96557;
}
.panel[data-toggle="panel"].panel-delete > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #d96557;
}
.panel[data-toggle="panel"].panel-delete > .panel-heading .badge {
	color: #d96557;
	background-color: #fff;
}
.panel[data-toggle="panel"].panel-delete > .panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #d96557;
}

.site-users .panel-heading {
	font-weight: normal;
}
.site-users .panel.panel-white:hover {
	background-color: #e6e6e6;
}
.site-users .panel.panel-white:hover .panel-body {
	background-color: white;
}
.site-users .widget .widget-actions {
	opacity: 0.75;
}
.site-users .widget:hover .widget-actions {
	opacity: 1;
}

.shunt-sync-idle { }
.shunt-sync-loading { display: none; }
.shunt-sync-success { display: none; }
.shunt-sync-error { display: none; }

.is-shunt-sync-loading .shunt-sync-idle { display: none; }
.is-shunt-sync-loading .shunt-sync-loading { display: inline; }
.is-shunt-sync-loading .shunt-sync-success { display: none; }
.is-shunt-sync-loading .shunt-sync-error { display: none; }

.is-shunt-sync-success .shunt-sync-idle { display: none; }
.is-shunt-sync-success .shunt-sync-loading { display: none; }
.is-shunt-sync-success .shunt-sync-success { display: inline }
.is-shunt-sync-success .shunt-sync-error { display: none; }

.is-shunt-sync-error .shunt-sync-idle { display: none; }
.is-shunt-sync-error .shunt-sync-loading { display: none; }
.is-shunt-sync-error .shunt-sync-success { display: none; }
.is-shunt-sync-error .shunt-sync-error { display: inline }


.shunt-check-folder-exists-loading { display: none; }
.shunt-check-folder-exists-valid { display: none; }
.shunt-check-folder-exists-invalid { display: none; }
.shunt-check-folder-exists-error { display: none; }

.is-shunt-check-folder-exists-loading .shunt-check-folder-exists-loading { display: inline; }
.is-shunt-check-folder-exists-valid .shunt-check-folder-exists-valid { display: inline; }
.is-shunt-check-folder-exists-invalid .shunt-check-folder-exists-invalid { display: inline; }
.is-shunt-check-folder-exists-error .shunt-check-folder-exists-error { display: inline; }

.widget-icon.shunt-check-folder-exists-loading { display: none; }
.widget-icon.shunt-check-folder-exists-valid { display: none; }
.widget-icon.shunt-check-folder-exists-invalid { display: none; }
.widget-icon.shunt-check-folder-exists-error { display: none; }

.is-shunt-check-folder-exists-loading .widget-icon.shunt-check-folder-exists-loading { display: block; }
.is-shunt-check-folder-exists-valid .widget-icon.shunt-check-folder-exists-valid { display: block; }
.is-shunt-check-folder-exists-invalid .widget-icon.shunt-check-folder-exists-invalid { display: block; }
.is-shunt-check-folder-exists-error .widget-icon.shunt-check-folder-exists-error { display: block; }

.logout {
	display: none;
}
