.editor {
	position: relative;
	width: 100%;
	height: 100%;
}

.editor-title-bar-control:focus,
.editor-title-bar-control:hover {
	background-color: rgba(200, 255, 255, 0.12);
	color: white;
}
.editor-title-bar-control i {
	font-size: 16px;
	line-height: 16px;
}

.editor-sidepanel {
	position: absolute;
	top: 55px;
	left: 0;
	width: 300px;
	bottom: 0;
	overflow: hidden;
}
.editor-sidepanel-title {
	white-space: nowrap;
	overflow: hidden;
	line-height: 20px;
}
.editor-sidepanel-collapsed-title {
	position: absolute;
	top: 50px;
	left: 100%;
	margin-left: -43px;
	margin-top: 0;
	margin-bottom: 0;
	white-space: nowrap;
	transform-origin: 0 10px;
	transform: translate(20px, 0) rotate(90deg) translate(0, -30px);
}
.editor-sidepanel > .panel {
	height: 100%;
}
.editor-sidepanel-heading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: none;
	line-height: 20px;
	height: 50px;
}
.editor-sidepanel-controls {
	float: none;
	position: absolute;
	top: 15px;
	right: 15px;
	line-height: 20px;
}
.editor-sidepanel-controls button,
.editor-sidepanel-controls button.btn-icon-icon.btn-xs {
	width: 46px;
	height: 50px;
	margin: -15px;
	padding: 15px;
	vertical-align: top;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.8);
}
.editor-sidepanel-controls button:hover,
.editor-sidepanel-controls button:focus,
.editor-sidepanel-controls button.btn-icon-icon.btn-xs:hover,
.editor-sidepanel-controls button.btn-icon-icon.btn-xs:focus {
	color: white;
}
.editor-sidepanel-controls button i,
.editor-sidepanel-controls button.btn-icon-icon.btn-xs i {
	font-size: 16px;
	line-height: 16px;
	padding: 16px 15px 18px;
}
.editor-sidepanel-body {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	bottom: 0;
}
.editor-sidepanel,
.editor-sidepanel-title,
.editor-sidepanel-collapsed-title,
.editor-sidepanel-body,
.editor-sidepanel + .editor-main {
	transition: all 0.3s ease;
}
.editor-sidepanel.collapsed {
	width: 43px;
}
.editor-sidepanel.collapsed + .editor-main {
	left: 43px;
}
.editor-sidepanel-collapsed-title,
.editor-sidepanel.collapsed .editor-sidepanel-title,
.editor-sidepanel.collapsed .editor-sidepanel-body {
	opacity: 0;
}
.editor-sidepanel.collapsed .editor-sidepanel-collapsed-title {
	opacity: 1;
	transform: translate(20px, 0) rotate(90deg);
}

.editor-main {
	position: absolute;
	top: 55px;
	left: 300px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background-color: #f0f0f0;
}
.editor-main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 3px 0 6px rgba(0, 0, 0, 0.15);
	pointer-events: none;
	z-index: 1;
}

.editor-loading {
	display: none;
}

.editor-progress {
	position: absolute;
	top: 0;
	width: 50%;
	left: 50%;
	margin-left: -25%;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.editor-progress {
	visibility: hidden;
	transform: translateY(-100%);
	transition: all 0.2s ease;
}
.editor-progress.active {
	visibility: visible;
	transform: translateY(0);
}
.editor-progress-cancel-button {
	margin-right: -5px;
}

.editor-preview {
	width: 100%;
	height: 100%;
	background-color: white;
}
.editor-preview.loading {
	display: none;
}
.editor-preview.loading + .editor-loading {
	display: block;
}


.theme-options-accordion {
	height: 100%;
	background-color: #f4f4f4;
}
.theme-options-accordion.panel-group .panel + .panel {
	margin-top: 0;
}
.theme-options-accordion > .panel-default > .panel-heading.collapsed:hover {
	background-color: #c9c9c9;
}
.theme-options-accordion > .panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #ececec;
}
.theme-options-accordion > .panel-default > .panel-heading,
.theme-options-accordion > .panel-default > .panel-collapse > .panel-body > .control-label {
	white-space: nowrap;
}
.theme-options-accordion > .panel > .panel-heading,
.theme-options-accordion > .panel > .panel-collapse {
	border-bottom: 1px solid #ccc;
}
.theme-options-accordion > .panel > .panel-collapse {
	background-color: white;
}
.theme-options-accordion > .panel > .panel-collapse > .panel-body {
	overflow: auto;
}

.colorpicker-element .input-group-addon i,
.colorpicker-selectors i {
	border: 1px solid #e4e4e4;
}

.code-editor {
	font-family: monospace;
	font-size: 12px;
	tab-size: 4;
}

.fa-uppercase {
	transform: translateY(1px);
}
.fa-uppercase::before {
	content: 'a';
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 12px;
	margin-left: -4px;
}
.fa-uppercase::after {
	content: 'A';
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 15px;
	margin-right: -4px;
}

.editor-font-control .bootstrap-select.form-control {
	float: left;
}
.bootstrap-select .dropdown-menu > li > a {
	padding-right: 50px;
}
.bootstrap-select .editor-font-control-preview {
	display: block;
}
[data-toggle="buttons"] .btn-default:hover::before {
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: alpha(opacity=0.5 * 100);
    filter: alpha(opacity=0.5 * 100);
}
[data-toggle="buttons"] .btn-default.active:hover::before {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=1 * 100);
    filter: alpha(opacity=1 * 100);
}
