body {
	background-color: #f0f0f0;
}

a:not(:link) {
	cursor: default;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: underline;
}

a.btn,
a.btn:active,
a.btn:focus,
a.btn:hover,
a.btn:visited,
a.widget,
a.widget:active,
a.widget:focus,
a.widget:hover,
a.widget:visited,
.nav a,
.nav a:active,
.nav a:focus,
.nav a:hover,
.nav a:visited,
.breadcrumb a,
.breadcrumb a:active,
.breadcrumb a:focus,
.breadcrumb a:hover,
.breadcrumb a:visited,
.content-footer a,
.content-footer a:active,
.content-footer a:focus,
.content-footer a:hover,
.content-footer a:visited {
	text-decoration: none;
}

button.btn-reset {
	text-align: left;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

button.bg-white:hover:not(:disabled) {
	background-color: #e6e6e6;
}

@media screen and (min-width:768px) {
	.login-form {
		margin-top: 130px;
		margin-left: auto;
		margin-right: auto;
		width: 320px;
	}

	body.login footer.content-footer {
        padding-left: 20px;
	}

    body.login .main-panel {
        margin-left: 0;
    }
}

.brand-logo {
	font-weight: bold;
}

.brand-logo a {
	text-decoration: none;
}

.navbar .brand-logo,
.navbar .brand-logo a {
	color: #333;
    margin-top: 15px;
    margin-bottom: 14px;
}

.main-panel > .header .navbar-nav .dropdown-menu {
	border-right: none;
}

.navbar > .breadcrumb {
	margin-bottom: 9px;
	margin-top: 10px;
}

.sidebar-panel > nav {
	overflow-y: visible;
}

.sidebar-panel > nav ul > li > a .fa {
	font-size: 16px;
}

.sidebar-panel > nav ul > li > a {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.sidebar-panel > nav li:hover > a > .fa,
.sidebar-panel > nav li:hover > a > span {
	text-indent: 0;
}

.sidebar-panel > nav li.open > a .fa,
.sidebar-panel > nav li.open > a > span {
	text-indent: 3px;
}

footer.content-footer {
	bottom: 1px;
}

.dropdown-menu > li > a {
	padding: 10px 20px;
}

.alert {
    overflow: hidden;
}

.alert > .fa {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 32px;
}
.alert > .fa + * {
	margin-left: 62px;
}
.alert p {
	color: inherit;
}
.alert h4 {
	font-weight: bold;
}
.alert h5 {
	font-weight: bold;
}
.alert ul {
	padding-left: 15px;
}

.form-control::-webkit-input-placeholder {
    color: rgba(135, 135, 135, 0.5);
}

.form-control-feedback.fa {
	line-height: 34px;
	right: 15px;
}

.has-error .form-control-feedback.fa:before {
	content: "\f00d"
}

.panel-heading {
	font-weight: bold;
}

a.panel-heading {
	display: block;
}

.panel-arrow {
	display: block;
	font-size: 20px;
	-webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: transform 300ms ease;
    -moz-transition: transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
}
.panel-heading.collapsed .panel-arrow {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.site-users .panel-heading {
	font-weight: normal;
}
.site-users .panel.panel-white:hover {
    background-color: #e6e6e6;
}
.site-users .panel.panel-white:hover .panel-body {
	background-color: white;
}
.site-users .widget .widget-actions {
	opacity: 0.75;
}
.site-users .widget:hover .widget-actions {
	opacity: 1;
}

.shunt-sync-idle { }
.shunt-sync-loading { display: none; }
.shunt-sync-success { display: none; }
.shunt-sync-error { display: none; }

.-shunt-sync-loading .shunt-sync-idle { display: none; }
.-shunt-sync-loading .shunt-sync-loading { display: inline; }
.-shunt-sync-loading .shunt-sync-success { display: none; }
.-shunt-sync-loading .shunt-sync-error { display: none; }

.-shunt-sync-success .shunt-sync-idle { display: none; }
.-shunt-sync-success .shunt-sync-loading { display: none; }
.-shunt-sync-success .shunt-sync-success { display: inline }
.-shunt-sync-success .shunt-sync-error { display: none; }

.-shunt-sync-error .shunt-sync-idle { display: none; }
.-shunt-sync-error .shunt-sync-loading { display: none; }
.-shunt-sync-error .shunt-sync-success { display: none; }
.-shunt-sync-error .shunt-sync-error { display: inline }


.shunt-dropbox-check-loading { display: none; }
.shunt-dropbox-check-valid { display: none; }
.shunt-dropbox-check-invalid { display: none; }

.-shunt-dropbox-check-loading .shunt-dropbox-check-loading { display: inline; }
.-shunt-dropbox-check-valid .shunt-dropbox-check-valid { display: inline; }
.-shunt-dropbox-check-invalid .shunt-dropbox-check-invalid { display: inline; }
