.editor {
	position: relative;
	width: 100%;
	height: 100%;
}
.editor-sidepanel {
	position: absolute;
	top: 55px;
	left: 0;
	width: 300px;
	bottom: 0;
	overflow: hidden;
}
.editor-sidepanel-title {
	white-space: nowrap;
	overflow: hidden;
	line-height: 20px;
}
.editor-sidepanel-collapsed-title {
	position: absolute;
	top: 50px;
	left: 100%;
	margin-left: -43px;
	margin-top: 0;
	margin-bottom: 0;
	white-space: nowrap;
	transform-origin: 0 10px;
	transform: translate(20px, 0) rotate(90deg) translate(0, -30px);
}
.editor-sidepanel .panel .panel-controls button {
	width: 16px;
	height: 16px;
	vertical-align: top;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.8);
}
.editor-sidepanel .panel .panel-controls button:focus,
.editor-sidepanel .panel .panel-controls button:hover {
	color: white;
}
.editor-sidepanel .panel .panel-controls button i {
	font-size: 16px;
	line-height: 16px;
}
.editor-title-bar-control {
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.editor-title-bar-control:focus,
.editor-title-bar-control:hover {
	background-color: rgba(200, 255, 255, 0.12);
	color: white;
}
.editor-title-bar-control i {
	font-size: 16px;
	line-height: 16px;
}
.editor-main {
	position: absolute;
	top: 55px;
	left: 300px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background-color: #f0f0f0;
}
.editor-main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 3px 0 6px rgba(0, 0, 0, 0.15);
	pointer-events: none;
	z-index: 1;
}
.editor-loading {
	display: none;
}
.editor-progress {
	position: absolute;
	top: 0;
	width: 50%;
	left: 50%;
	margin-left: -25%;
	border-radius: 0 0 2px 2px;
	transform: translateY(-100%);
	transition: all 0.2s ease;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.editor-progress.active {
	transform: translateY(0);
}
.editor-progress-cancel-button {
	margin-right: -5px;
}
.editor-preview {
	width: 100%;
	height: 100%;
}
.editor-preview.loading {
	display: none;
}
.editor-preview.loading + .editor-progress + .editor-loading {
	display: block;
}

.editor-sidepanel,
.editor-sidepanel-title,
.editor-sidepanel-collapsed-title,
.editor-sidepanel > .panel > .panel-body,
.editor-sidepanel + .editor-main {
	transition: all 0.3s ease;
}
.editor-sidepanel.collapsed {
	width: 43px;
}
.editor-sidepanel.collapsed + .editor-main {
	left: 43px;
}
.editor-sidepanel-collapsed-title,
.editor-sidepanel.collapsed > .panel > .panel-body,
.editor-sidepanel.collapsed .editor-sidepanel-title {
	opacity: 0;
}
.editor-sidepanel.collapsed .editor-sidepanel-collapsed-title {
	opacity: 1;
	transform: translate(20px, 0) rotate(90deg);
}

.editor-sidepanel > .panel {
	height: 100%;
}
.editor-sidepanel > .panel > .panel-heading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: none;
	line-height: 20px;
	height: 50px;
}
.editor-sidepanel > .panel > .panel-heading > .panel-controls {
	float: none;
	position: absolute;
	top: 15px;
	right: 15px;
	margin: -15px;
	padding: 15px;
	line-height: 20px;
}
.editor-sidepanel > .panel > .panel-body {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	bottom: 0;
}

.theme-options-accordion {
	height: 100%;
	background-color: #f4f4f4;
}
.theme-options-accordion.panel-group .panel + .panel {
	margin-top: 0;
}
.theme-options-accordion > .panel-default > .panel-heading.collapsed:hover {
	background-color: #c9c9c9;
}
.theme-options-accordion > .panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #ececec;
}
.theme-options-accordion > .panel-default > .panel-heading,
.theme-options-accordion > .panel-default > .panel-collapse > .panel-body > .control-label {
	white-space: nowrap;
}
.theme-options-accordion > .panel > .panel-heading,
.theme-options-accordion > .panel > .panel-collapse {
	border-bottom: 1px solid #ccc;
}
.theme-options-accordion > .panel > .panel-collapse {
	background-color: white;
}
.theme-options-accordion > .panel > .panel-collapse > .panel-body {
	overflow: auto;
}

.colorpicker-element .input-group-addon i,
.colorpicker-selectors i {
	border: 1px solid #e4e4e4;
}

.code-editor {
	font-family: monospace;
	font-size: 12px;
	tab-size: 4;
}
