html,
body {
	height: 100%;
	min-width: 320px;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	min-height: 100%;
}

header + .wrapper {
	min-height: 0;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: black;
}

#slidecaption {
	color: white;
}

#slidecaption p {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	margin-bottom: 0.25em;
}

.lead-small blockquote {
    margin: 30px 15px;
	background-color: #f7f7f7;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.lead-small li {
	margin: 0.5em 1.5em;
}

.btn-primary:hover {
	opacity: 0.8;
}

#fancybox-loading div {
	border-radius: 4px;
}

.fancybox-download {
	display: inline-block;
	position: relative;
	border-bottom: none;
}
.fancybox-download::before {
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	cursor: pointer;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.fancybox-download:hover::before {
	opacity: 1;
}
.fancybox-download::after {
	position: absolute;
	z-index: 2;
	top: 40%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
	content: "\f019";
	display: inline-block;
	font: normal normal normal 64px/1 FontAwesome;
	color: white;
	text-rendering: auto;
	opacity: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.fancybox-download:hover::after {
	top: 50%;
	opacity: 1;
}

header nav {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 50px;
	margin-right: 10px;
}

header .container {
    height: auto;
}

footer a:hover {
	border-bottom: 1px solid white;
}

.contact p {
	margin-bottom: 0;
}

@media screen and (max-width: 767px) {
	.about {
		margin-top: 50px;
	}
}

.copyright {
	color: white;
	box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}
.copyright-message {
	position: relative;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	margin-bottom: 0;
}
.copyright a {
	color: inherit;
	font-weight: bold;
	border-bottom: none;
	text-decoration: underline;
}
.copyright a:hover {
	text-decoration: underline;
	border-bottom: none;
}


.lead-small p {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

.option-set {
	margin-top: 50px;
}

.post.hidden {
	display: none;
}

.profile-photo {
	padding-bottom: 63%;
	background-color: #2d2d2d;
}

.profile-photo .profile-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -35px;
}

.profile-icon {
	-webkit-filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.5));
	-moz-filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.5));
	-o-filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.5));
}
.profile-icon .profile-icon-page {
	fill: #FFFFFF;
}
.profile-icon .profile-icon-content {
	fill: #2d2d2d;
}
.profile-icon .profile-icon-title {
	fill: #FFFFFF;
}
.profile-icon .profile-icon-text {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	fill: #000000;
}

.profile-photo.has-thumbnail {
	background-image: none;
}

.profile-rollover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	line-height: 170px;
	text-align: center;
}
.profile-rollover i {
	font-size: 64px;
	line-height: 150px;
}
.project-wrp .profile-rollover {
	opacity: 0;
	-webkit-transform: translateY(-25%);
	-moz-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
	-o-transform: translateY(-25%);
	transform: translateY(-25%);
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
}
.project-wrp:hover .profile-rollover {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.project-wrp:hover .profile-thumbnail {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.project-wrp:hover .profile-icon {
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
}


.project-wrp:hover img {
	opacity: 1;
	-ms-filter:;
	filter:;
}

.project-wrp .profile-photo .profile-thumbnail {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
}

.project-wrp .profile-photo .profile-thumbnail img {
	position: absolute;
	width: auto;
	height: auto;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

[data-admin-upload] {
	position: relative;
}
[data-admin-upload].dragging::after {
	content: '';
	display: block;
	position: absolute;
	top: -10px;
	left: -10px;
	bottom: -10px;
	right: -10px;
	border: 10px solid rgba(255, 0, 0, 0.25);
	z-index: 999;
	pointer-events: none;
}
body[data-admin-upload].dragging::after {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
