<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="The quick, easy way to showcase your files"/>
		<meta name="author" content=""/>
		<link rel="shortcut icon" href="/assets/favicon.png"/>
		<title>{{#if title}}{{ title }} | Filecanvas{{else}}Filecanvas{{/if}}</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,700" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/assets/css/filecanvas-www.css" />
		{{#>styles}}{{/styles}}
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand navbar-link">Filecanvas</a>
					<button data-toggle="collapse" data-target="#navigation" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				</div>
				<div class="collapse navbar-collapse" id="navigation">
					<ul class="nav navbar-nav navbar-right">
						{{#>navigation}}{{/navigation}}
					</ul>
				</div>
			</div>
		</nav>
		{{#>content}}{{/content}}
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="page-footer-navigation col-sm-6 col-md-4" id="footer-navigation">
						<ul class="list-unstyled">
							<li><a href="/#sign-up">Sign up</a></li>
							<li><a href="{{ subdomain host=host subdomain='my' }}">Log in</a></li>
							<li><a href="/terms">Terms &amp; Conditions</a></li>
							<li><a href="/privacy">Privacy Policy</a></li>
						</ul>
					</div>
					<div class="page-footer-contact col-sm-6 col-md-3 col-md-offset-5">
						<ul class="list-unstyled">
							<li>For all enquiries, contact <a href="mailto:info@filecanvas.com">info@filecanvas.com</a></li>
							<li>&nbsp;</li>
							<li>© Filecanvas 2016</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		{{#>scripts}}{{/scripts}}
	</body>
</html>
