body {
	min-width: 320px;
	-moz-osx-font-smoothing: grayscale;
}
body.home {
	padding-top: 40px;
	background-color: #495469;
}
h1 {
	font-size: 60px;
	font-weight: 200;
	line-height: 1;
	text-align: center;
	color: #e3e5e8;
}
h1 strong {
	font-weight: 500;
}
h2 {
	font-size: 16px;
	font-weight: 300;
	color: #b2b6be;
	margin-bottom: 45px;
}
form {
	padding: 0 10px;
}
@media (min-width: 768px) {
	body.home {
		padding-top: 120px;
	}
	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 24px;
	}
	.signup-field {
		width: 207px;
	}
}
