.tour-backdrop {
	opacity: 0.4;
}
.tour-step-background {
	border-radius: 5px;
}
.tour-step-background + .bootstrap-select,
.tour-step-background + .popover + .bootstrap-select {
	z-index: 1200;
}
.btn-primary.tour-step-backdrop,
.btn-success.tour-step-backdrop {
	transition: background-color 0.3s ease;
}
.btn-primary.tour-step-backdrop {
	background-color: #09c;
}
.btn-success.tour-step-backdrop {
	background-color: #2ecc71;
}

.popover {
	min-width: 230px;
}
.popover .popover-content {
    padding-top: 0;
}
.popover .popover-content .popover-progress {
	margin: -1px -14px 10px;
}
.popover .popover-content .popover-progress-bar {
    height: 3px;
}

.modal fieldset:disabled {
	display: none;
}

.editor-main > .popover {
	top: 60px !important;
	box-shadow: 0 0 64px rgba(0, 0, 0, 0.5);
}
.editor-main > .popover > .arrow {
	display: none;
}
@media screen and (min-width: 768px) {
	.popover#step-0 {
		top: 100px !important;
	}
}

.editor-main.tour-step-backdrop::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 8px solid rgba(255, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.2);
}

.editor {
	position: relative;
	width: 100%;
	height: 100%;
}

.editor-title-bar-control:focus,
.editor-title-bar-control:hover {
	background-color: rgba(200, 255, 255, 0.12);
	color: white;
}
.editor-title-bar-control i {
	font-size: 16px;
	line-height: 16px;
}

.editor-sidepanel {
	position: absolute;
    width: 100%;
    top: 50px;
    bottom: 55px;
	left: 0;
	overflow: hidden;
}
.editor-sidepanel-title {
	white-space: nowrap;
	overflow: hidden;
	line-height: 20px;
}
.editor-sidepanel-collapsed-title {
	display: none;
}
.editor-sidepanel-panel {
	height: 100%;
}
.editor-sidepanel-heading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: none;
	line-height: 20px;
	height: 50px;
	cursor: pointer;
}
.editor-sidepanel-controls {
	position: static;
	float: right;
	top: auto;
	right: auto;
}
.editor-sidepanel-controls .btn,
.editor-sidepanel-controls .btn.btn-icon-icon.btn-xs {
	width: 46px;
	height: 50px;
	margin: -15px;
	padding: 15px;
	vertical-align: top;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.8);
}
.editor-sidepanel-controls .btn:hover,
.editor-sidepanel-controls .btn:focus,
.editor-sidepanel-controls .btn.btn-icon-icon.btn-xs:hover,
.editor-sidepanel-controls .btn.btn-icon-icon.btn-xs:focus {
	color: white;
}
.editor-sidepanel-controls .btn .fa,
.editor-sidepanel-controls .btn.btn-icon-icon.btn-xs .fa {
	font-size: 16px;
	line-height: 16px;
	padding: 16px 15px 18px;
}
.editor-sidepanel-controls .btn .fa-chevron-down:before {
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	transition: transform 0.3s ease;
}
.editor-sidepanel.collapsed .editor-sidepanel-controls .btn .fa-chevron-down:before {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.editor-sidepanel-body {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: auto;
}
.editor-sidepanel.collapsed {
	bottom: auto;
	height: 50px;
}
.editor-sidepanel.collapsed .editor-sidepanel-body {
	visibility: hidden;
}

.editor-main {
	display: none;
	position: absolute;
	top: 100px;
	left: 0;
	bottom: 55px;
	right: 0;
	overflow: hidden;
	background-color: #f0f0f0;
}
.editor-sidepanel.collapsed + .editor-main {
	display: block;
}
.editor-main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 3px 0 6px rgba(0, 0, 0, 0.15);
	pointer-events: none;
	z-index: 1;
}

.editor-loading,
.editor-error {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
}
.editor-loading .info-message,
.editor-error .info-message {
	margin-top: 60px;
}
.editor-loading,
.editor-error {
	display: none;
}
.editor.loading .editor-loading,
.editor.error .editor-error {
	display: block;
}
.editor.loading .editor-preview,
.editor.error .editor-preview {
	visibility: hidden;
}
.editor.loading .editor-progress,
.editor.error .editor-progress {
	display: none;
}
.editor-sidepanel.loading {
	pointer-events: none;
}

.editor-progress {
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 480px) {
	.editor-progress {
		left: 50%;
		right: auto;
		width: 440px;
		margin-left: -220px;
	}
}
.editor-progress {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.editor-progress.active {
	visibility: visible;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.editor-progress-cancel-button {
	margin-right: -5px;
}

.editor-preview {
	width: 100%;
	height: 100%;
	background-color: white;
}
.editor-preview.loading {
	visibility: hidden;
}
.editor-preview.error {
	display: none;
}
.title-bar.controls-2 ~ .editor-main,
.title-bar.controls-2 ~ .editor-sidepanel:not(.collapsed) {
	bottom: 93px;
}

@media screen and (min-width: 768px) {
	.editor-sidepanel {
		width: 300px;
		top: 55px;
		bottom: 0;
	}
	.editor-sidepanel.collapsed {
		height: auto;
		bottom: 0;
	}
	.editor-sidepanel-collapsed-title {
		display: block;
		position: absolute;
		top: 50px;
		left: 100%;
		margin-left: -43px;
		margin-top: 0;
		margin-bottom: 0;
		white-space: nowrap;
		-webkit-transform-origin: 0 10px;
		-moz-transform-origin: 0 10px;
		-ms-transform-origin: 0 10px;
		-o-transform-origin: 0 10px;
		transform-origin: 0 10px;
		-webkit-transform: translate(20px, 0) rotate(90deg) translate(0, -30px);
		-moz-transform: translate(20px, 0) rotate(90deg) translate(0, -30px);
		-ms-transform: translate(20px, 0) rotate(90deg) translate(0, -30px);
		-o-transform: translate(20px, 0) rotate(90deg) translate(0, -30px);
		transform: translate(20px, 0) rotate(90deg) translate(0, -30px);
	}
	.editor-sidepanel-title,
	.editor-sidepanel-collapsed-title {
		-webkit-transition: width 0.3s ease, opacity 0.3s ease;
		-moz-transition: width 0.3s ease, opacity 0.3s ease;
		-ms-transition: width 0.3s ease, opacity 0.3s ease;
		-o-transition: width 0.3s ease, opacity 0.3s ease;
		transition: width 0.3s ease, opacity 0.3s ease;
	}
	.editor-sidepanel {
		-webkit-transition: width 0.3s ease, visibility 0.3s linear;
		-moz-transition: width 0.3s ease, visibility 0.3s linear;
		-ms-transition: width 0.3s ease, visibility 0.3s linear;
		-o-transition: width 0.3s ease, visibility 0.3s linear;
		transition: width 0.3s ease, visibility 0.3s linear;
	}
	.editor-sidepanel-body {
		-webkit-transition: opacity 0.3s ease, visibility 0.3s linear;
		-moz-transition: opacity 0.3s ease, visibility 0.3s linear;
		-ms-transition: opacity 0.3s ease, visibility 0.3s linear;
		-o-transition: opacity 0.3s ease, visibility 0.3s linear;
		transition: opacity 0.3s ease, visibility 0.3s linear;
	}
	.editor-sidepanel.collapsed {
		width: 43px;
	}
	.editor-sidepanel-collapsed-title,
	.editor-sidepanel.collapsed .editor-sidepanel-title,
	.editor-sidepanel.collapsed .editor-sidepanel-body {
		opacity: 0;
	}
	.editor-sidepanel.collapsed .editor-sidepanel-collapsed-title {
		opacity: 1;
		-webkit-transform: translate(20px, 0) rotate(90deg);
		-moz-transform: translate(20px, 0) rotate(90deg);
		-ms-transform: translate(20px, 0) rotate(90deg);
		-o-transform: translate(20px, 0) rotate(90deg);
		transform: translate(20px, 0) rotate(90deg);
	}
	.editor-sidepanel-controls {
		float: none;
		position: absolute;
		top: 15px;
		right: 15px;
		line-height: 20px;
	}
	.editor-sidepanel-controls .btn .fa-chevron-down:before {
		content: "\f0c9";
	}
	.editor-sidepanel.collapsed .editor-sidepanel-controls .btn .fa-chevron-down:before {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.editor-main {
		display: block;
		top: 55px;
		bottom: 0;
		left: 0;
	}
	.editor-sidepanel + .editor-main {
		left: 300px;
	}
	.editor-sidepanel.collapsed + .editor-main {
		left: 43px;
	}
	.editor-sidepanel + .editor-main {
		-webkit-transition: left 0.3s ease;
		-moz-transition: left 0.3s ease;
		-ms-transition: left 0.3s ease;
		-o-transition: left 0.3s ease;
		transition: left 0.3s ease;
	}
	.editor.loading .editor-sidepanel {
		display: none;
	}
	.editor.loading .editor-sidepanel + .editor-main {
		margin-left: -300px;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}
	.editor.loading .editor-sidepanel.collapsed + .editor-main {
		margin-left: -43px;
	}

	.title-bar.controls-2 ~ .editor-main,
	.title-bar.controls-2 ~ .editor-sidepanel:not(.collapsed) {
		bottom: 0;
	}
}

.theme-options-accordion {
	height: 100%;
	margin-bottom: 0;
	overflow: auto;
	background-color: #f4f4f4;
}
.theme-options-accordion.panel-group .panel + .panel {
	margin-top: 0;
}
.theme-options-accordion > .panel-default > .panel-heading.collapsed:hover {
	background-color: #c9c9c9;
}
.theme-options-accordion > .panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #ececec;
}
.theme-options-accordion > .panel-default > .panel-heading,
.theme-options-accordion > .panel-default > .panel-collapse > .panel-body > .control-label {
	white-space: nowrap;
}
.theme-options-accordion > .panel > .panel-heading,
.theme-options-accordion > .panel > .panel-collapse {
	border-bottom: 1px solid #ccc;
}
.theme-options-accordion > .panel > .panel-collapse {
	background-color: white;
}
.theme-options-accordion > .panel > .panel-collapse > .panel-body {
	overflow: auto;
}
@media screen and (min-width: 768px) {
	.theme-options-accordion {
		overflow: hidden;
	}
}

.colorpicker-element .input-group-addon i,
.colorpicker-selectors i {
	border: 1px solid #e4e4e4;
}

.code-editor {
	font-family: monospace;
	font-size: 12px;
	tab-size: 4;
}

.fa-uppercase {
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-ms-transform: translateY(1px);
	-o-transform: translateY(1px);
	transform: translateY(1px);
}
.fa-uppercase::before {
	content: 'a';
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 12px;
	margin-left: -4px;
}
.fa-uppercase::after {
	content: 'A';
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 15px;
	margin-right: -4px;
}

.editor-file-upload-input,
.editor-file-upload-input::-webkit-file-upload-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	display: block;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	overflow: hidden;
	cursor: pointer;
    opacity: 0;
}
.editor-font-control .bootstrap-select.form-control {
	float: left;
}
.bootstrap-select .dropdown-menu > li > a {
	padding-right: 50px;
}
.bootstrap-select .editor-font-control-preview {
	display: block;
}
[data-toggle="buttons"] .btn-default:hover::before {
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: alpha(opacity=0.5 * 100);
    filter: alpha(opacity=0.5 * 100);
}
[data-toggle="buttons"] .btn-default.active:hover::before {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=1 * 100);
    filter: alpha(opacity=1 * 100);
}
